{{ $ := .root }}
{{ $page := .page }}
{{ $columns := $page.Params.design.columns | default "3" }}

<div class="row featurette">
  {{ with $page.Title }}
  <div class="col-md-12 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  {{ with $page.Content }}
  <div class="col-md-12">
    {{ . }}
  </div>
  {{ end }}

  {{ range $page.Params.feature }}
  {{ $pack := or .icon_pack "fas" }}
  {{ $pack_prefix := $pack }}
  {{ if in (slice "fab" "fas" "far" "fal") $pack }}
    {{ $pack_prefix = "fa" }}
  {{ end }}
  {{ $link := .icon_link }}
  <div class="col-12 {{ if eq $columns "2" }}col-sm-6{{ else if eq $columns "3" }}col-sm-4{{ else if eq $columns "4" }}col-sm-3{{ end }}">
    {{ with .icon }}
    <div class="featurette-icon">
      {{- if eq $pack "emoji" -}}
        <span>{{- . | markdownify | emojify -}}</span>
      {{- else if eq $pack "custom" -}}
        {{- $svg_icon := resources.Get (printf "media/icons/%s.svg" .) -}}
        {{- if $svg_icon -}}<span><a href="{{$link}}"><img src="{{ $svg_icon.RelPermalink }}" alt="{{.}}" class="svg-icon svg-baseline"></a></span>{{- end -}}
      {{- else if eq $pack "lottie" -}}
        {{- $lottie_animation := resources.Get (printf "media/lottie/%s.json" .) -}}
        {{- if $lottie_animation -}}<span><a href="{{$link}}"><lottie-player autoplay loop mode="normal" src="{{ $lottie_animation.RelPermalink }}" class="svg-icon svg-baseline" style="max-width: 100%; vertical-align: middle;" id="{{ printf "%s" . }}"></lottie-player></a></span>
        <script>
          document.addEventListener('wcThemeChange', (e) => {
            // console.log('isDarkTheme? ' + e.detail.isDarkTheme());
            if (e.detail.isDarkTheme()) {
              const player = document.querySelector("#{{ printf "%s" . }}");              
              player.load({{ $lottie_animation.RelPermalink }}.slice(0, -5).concat("-dark.json"));
            } else {
              const player = document.querySelector("#{{ printf "%s" . }}");
              player.load("{{ $lottie_animation.RelPermalink }}");
            }
          });
        </script>
        {{- end -}}
      {{- else if eq $pack "tgs" -}}
        {{- $tgs_sticker := resources.Get (printf "media/lottie/%s.tgs" .) -}}
        {{- if $tgs_sticker -}}<span><a href="{{$link}}"><tgs-player autoplay loop mode="normal" src="{{ $tgs_sticker.RelPermalink }}" class="svg-icon svg-baseline" style="max-width: 100%; vertical-align: middle;" id="{{ printf "%s" . }}"></tgs-player></a></span>
        <script>
          document.addEventListener('wcThemeChange', (e) => {
            // console.log('isDarkTheme? ' + e.detail.isDarkTheme());
            if (e.detail.isDarkTheme()) {
              const player = document.querySelector("#{{ printf "%s" . }}");
              player.load({{ $tgs_sticker.RelPermalink }}.slice(0, -4).concat("-dark.tgs"));
            } else {
              const player = document.querySelector("#{{ printf "%s" . }}");
              player.load("{{ $tgs_sticker.RelPermalink }}");
            }
          });
        </script>
        {{- end -}}
      {{- else -}}
        <i class="{{ $pack }} {{ $pack_prefix }}-{{ . }}"></i>
      {{- end -}}
    </div>
    {{ end }}
    <div class="section-subheading">{{ .name | markdownify | emojify }}</div>
    {{ with .description }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}
</div>