{{ $ := .root }}
{{ $page := .page }}
{{ $bg := $page.Params.design.background }}

{{ if $page.Params.hero_media }}
<div class="row">
  <div class="col-12 col-md-6 text-center text-md-left">
{{ end }}

    {{ with $page.Title }}      
      {{ if eq $page.Title "FisiQuímicamente" }}
        {{- $logo := resources.Get ("media/logo-fisiquimicamente.svg") -}}        
        <h1 class="hero-title"><img draggable="false" alt="fisiquimicamente" src="{{ $logo.RelPermalink }}" width="100%" id="fisiquimicamente"></h1>        
        <script>
        document.addEventListener('wcThemeChange', (e) => {
          // console.log('isDarkTheme? ' + e.detail.isDarkTheme());
          if (e.detail.isDarkTheme()) {
            document.getElementById("fisiquimicamente").src="/icon/logo-fisiquimicamente-dark.svg";
          } else {
            document.getElementById("fisiquimicamente").src="/icon/logo-fisiquimicamente.svg";
          }
          });
        </script>
      {{ else if eq $page.Title "PhysiChemically" }}
        {{- $logo := resources.Get ("media/logo-physichemically.svg") -}}
        <h1 class="hero-title"><img draggable="false" alt="physichemically" src="{{ $logo.RelPermalink }}" width="100%" id="physichemically"></h1>
        <script>
          document.addEventListener('wcThemeChange', (e) => {
            // console.log('isDarkTheme? ' + e.detail.isDarkTheme());
            if (e.detail.isDarkTheme()) {
              document.getElementById("physichemically").src="/icon/logo-physichemically-dark.svg";
            } else {
              document.getElementById("physichemically").src="/icon/logo-physichemically.svg";
            }
            });
          </script>
      {{ else if eq $page.Title "FisiQuímicament" }}
        {{- $logo := resources.Get ("media/logo-fisiquimicament.svg") -}}
        <h1 class="hero-title"><img draggable="false" alt="fisiquimicament" src="{{ $logo.RelPermalink }}" width="100%" id="fisiquimicament"></h1>
        <script>
          document.addEventListener('wcThemeChange', (e) => {
            // console.log('isDarkTheme? ' + e.detail.isDarkTheme());
            if (e.detail.isDarkTheme()) {
              document.getElementById("fisiquimicament").src="/icon/logo-fisiquimicament-dark.svg";
            } else {
              document.getElementById("fisiquimicament").src="/icon/logo-fisiquimicament.svg";
            }
            });
          </script>
      {{ end }}
    {{ end }}

    {{ with $page.Content }}
      <div class="hero-lead">{{ . }}</div>
    {{ end }}

    {{/* Call-to-action link */}}
    {{ if $page.Params.cta.url }}
      {{ $pack := or $page.Params.cta.icon_pack "fas" }}
      {{ $pack_prefix := $pack }}
      {{ if in (slice "fab" "fas" "far" "fal") $pack }}
        {{ $pack_prefix = "fa" }}
      {{ end }}
      {{ $link := $page.Params.cta.url }}
      {{ $scheme := (urls.Parse $link).Scheme }}
      {{ $target := "" }}
      {{ if not $scheme }}
        {{ $link = $link | relLangURL }}
      {{ else if in (slice "http" "https") $scheme }}
        {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
      {{ end }}
    <p class="cta-btns">
      <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }} class="btn {{if $bg.text_color_light}}btn-light{{else}}btn-primary{{end}} btn-lg mb-md-1">{{ if $page.Params.cta.icon }}<i class="{{ $pack }} {{ $pack_prefix }}-{{ $page.Params.cta.icon }} pr-1" aria-hidden="true"></i>{{end}}{{ $page.Params.cta.label | markdownify | emojify | safeHTML }}</a>

      {{/* Alternative Call-to-action link */}}
      {{ if $page.Params.cta_alt.url }}
        {{ $link := $page.Params.cta_alt.url }}
        {{ $scheme := (urls.Parse $link).Scheme }}
        {{ $target := "" }}
        {{ if not $scheme }}
          {{ $link = $link | relLangURL }}
        {{ else if in (slice "http" "https") $scheme }}
          {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
        {{ end }}
      <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }} class="hero-cta-alt btn-lg pl-md-4">{{ $page.Params.cta_alt.label | markdownify | emojify | safeHTML }}</a>
      {{ end }}
    </p>
    {{ end }}

    {{/* Call-to-action note */}}
    {{ with $page.Params.cta_note }}
    <p class="hero-note text-muted mb-3 mb-md-1">           
      {{ .label | markdownify | emojify | safeHTML }}
    </p>
    {{ end }}

  {{/* Hero image */}}
  {{ if $page.Params.hero_media }}
  </div>
  <div class="col-12 mx-auto col-md-6 {{if $page.Params.design.flip}}order-md-first{{end}} hero-media">    
    {{- $image := ($page.Parent.Resources.ByType "image").GetMatch $page.Params.hero_media -}}
    {{- if not $image -}}
      {{- $image = resources.Get (path.Join "media" $page.Params.hero_media) -}}
    {{- end -}}
    {{ if $image }}
      {{ $isSVG := eq $image.MediaType.SubType "svg" }}
      {{ $animation_type := strings.TrimPrefix "." (path.Ext $image.RelPermalink) | lower }}

      {{ if eq $animation_type "json" }}
        <script src="https://unpkg.com/@lottiefiles/lottie-player@0.4.0/dist/lottie-player.js"></script>
        <lottie-player autoplay loop mode="normal" src="{{ $image.RelPermalink }}" style="width: 100%; height:auto"></lottie-player>
      {{ else if eq $animation_type "tgs" }}
        <script src="https://unpkg.com/@lottiefiles/lottie-player@0.4.0/dist/tgs-player.js"></script>
        <tgs-player autoplay loop mode="normal" style="width: 100%; height:auto"></tgs-player>
        <script>
          document.addEventListener('wcThemeChange', (e) => {
            // console.log('isDarkTheme? ' + e.detail.isDarkTheme());
            if (e.detail.isDarkTheme()) {
              const player = document.querySelector("tgs-player");
              player.load("/media/lottie/home-dark.tgs");
            } else {
              const player = document.querySelector("tgs-player");
              player.load("/media/lottie/home.tgs");
            }
            });
          </script>
      {{ else if $isSVG -}}
        <img src="{{ $image.RelPermalink }}" alt="{{ $page.Title }}">

      {{- else }}

        {{ $legacy_img := $image.Resize "400x" }}
        {{ $img_src := "" }}
        {{ $img_src_set := slice }}
        {{ $widths := slice 1200 800 400 }}

        {{ range $widths }}
          {{ $src_link := ($image.Resize (printf "%dx" .)).RelPermalink }}
          {{ if eq $img_src "" }}
            {{ $img_src = $src_link }}
          {{ end }}
          {{ $img_src_set = $img_src_set | append (printf "%s %dw" $src_link .) }}
        {{ end }}
        {{ $img_src_set = delimit $img_src_set "," }}

        <img src="{{ $legacy_img.RelPermalink }}" srcset="{{ $img_src_set }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ $page.Title }}">

      {{ end }}
    {{ end }}
    {{ with $page.Params.hero_media_caption }}<span class="hero-media-caption">{{ . | markdownify | emojify }}</span>{{ end }}
  </div>
</div>
{{ end }}