/**************************************************
 *  Definiciones de colores basadas en primary
 **************************************************/
$primary_bg: #eaf3fc; // color complementario de primary
$primary_complementary: #B0332A; // color complementario de primary
$primary_complementary_bg: #faedec; // color complementario de primary
$example_fg: #5A6309;
$example_bg: #fbfde9;

body {
  color: inherit;
  background-color: #333; }

// Flechas del slider e indicadores más grandes (3x)
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 60px;
  height: 60px; }  
  
.carousel-control-prev-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%231965B0' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e"); }

.carousel-control-next-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%231965B0' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e"); }  
  
.carousel-indicators {
	li {
	  width: 90px;
	  height: 9px;
	  background-color: $primary;
	}
}  
  
// Personalización de los colores de las notas y los warnings
div.alert > div:first-child::before {
color: $primary;
}
  
.alert-note {
color: #000000;
background-color: $primary_bg;
border-color: $primary; }

div.alert-warning > div:first-child::before {
  color: $primary_complementary;
}

.alert-warning {
color: #000000;
background-color: $primary_complementary_bg;
border-color: $primary_complementary; }

div.alert-example > div:first-child::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: $example_fg;
  content: '\f0eb';
}

.alert-example {
  color: #000000;
  background-color: $example_bg;
  border-color: $example_fg;
}

// Color del subtítulo de las páginas
.page-subtitle {
  font-family: "Cabin Sketch", sans-serif;
  color: #000000; }  
  
.card h5 {
color: #555555; }  

// Color del subtítulo de los proyectos
.section-heading p {
  font-family: "Cabin Sketch", sans-serif;
  color: $primary_complementary;
}

// Color del subtítulo de mi rol
.author-card .card-subtitle {
  color: #555555; }
  
// Color del portrait h3
.portrait-title h3 {
  color: #555555; }
  
// Color de la institución en Formación
ul.ul-edu li .description p.institution {
color: #555555; }

// Color de text-muted
.text-muted {
  color: #555555 !important; }  

// Color del texto del slider
.wg-hero.dark .hero-title,
.wg-hero.dark .hero-lead,
.wg-hero.dark .hero-cta-alt,
.wg-hero.dark .hero-note > * {
  color: $primary;
  /* text-shadow: 1px 1px 4px rgba(255,255,255,1); */
  /* Uncomment to standout on complicated backgrounds. */ }
  
/* Override dark colors that may be inherited from body.dark */
.home-section.dark,
.home-section.dark h1,
.home-section.dark h2,
.home-section.dark h3,
.home-section.dark a:not(.btn) {
color: $primary; }  
  
.wg-hero.dark a:not(.wg-hero .btn) {
color: $primary; }

// Color de los metada de artículo
.article-metadata {
  color: $primary_complementary; }
.article-metadata a,
.article-metadata a:hover {
    color: $primary_complementary; }
	
// Color de los headings
/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: $primary; }
  
.article-title a {
color: $primary; }

.page-link {
  color: $primary;
  background-color: #fff;
  border: 1px solid $primary; }
  .page-link:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: $primary;
    border-color: $primary; }
	
.card .card-text p {
  color: #555555; }	
  
/**************************************************
 *  Tags/Labels
 **************************************************/
.badge-light {
  color: $primary_complementary;
  background: $primary_complementary_bg; }

.badge-light[href]:focus,
.badge-light[href]:hover {
  color: $primary_complementary_bg;
  background: $primary_complementary; }  

.tag-cloud a:active,
.tag-cloud a:focus,
.tag-cloud a:hover {
  color: $primary; }

// Botones
.wg-hero.dark .btn {
  color: $primary; }
  
.wg-hero.dark .btn:active,
.wg-hero.dark .btn:focus,
.wg-hero.dark .btn:hover {
color: $white; }  

.btn-light {
  color: $primary;
  background-color: transparent;
  border-color: $primary; }
  .btn-light:hover {
    color: #FFFFFF;
    background-color: $primary;
    border-color: $primary; }
  .btn-light:focus, .btn-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(25, 101, 176, 0.5); }
  .btn-light.disabled, .btn-light:disabled {
    color: $primary;
    background-color: transparent; }
  .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
    color: #FFFFFF;
    background-color: $primary;
    border-color: $primary; }
    .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(25, 101, 176, 0.5); }
	
// Color de la flecha del footer
site-footer,
footer a.back-to-top i {
  color: rgba(25, 101, 176, 0.54); }	  
  
// Card overlay
.card .card-image.hover-overlay:after {
color: #555; }

/*************************************************
 *  Search
 **************************************************/
#search-box #search-query {
  border: 1px solid $primary; }
  
.search-hit em {
background-color: $primary_complementary_bg;
color: $primary_complementary;
border-bottom: 1px solid $primary_complementary; }  
  
mark,
.mark {
background-color: $primary_complementary_bg;
color: $primary_complementary; }  

.form-control:focus {
  border-color: $primary;
  box-shadow: 0 0 0 0.2rem $primary; }
  
// Formulario de contacto
.form-control {
  color: $primary;
  border: 1px solid $primary; }
  .form-control:-moz-focusring {
    text-shadow: 0 0 0 $black; }
  .form-control:focus {
    color: $black;
    border-color: $primary; }
  .form-control::placeholder {
    color: #555555; }

select.form-control:focus::-ms-value {
  color: $primary; }

.form-control-plaintext {
  color: $primary; }

.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
color: $red; }

// Color of code
pre,
code {
  color: $primary_complementary;
  background-color: $primary_complementary_bg; }  
  
pre {
font-size: 0.875rem; }
  
/* Docs sidebar li>a. */
.docs-sidebar .nav > li > a {
color: #555555; }

.docs-sidebar .nav > li > a:hover {
color: $black; }

.post-nav-item .meta-nav {
  color: #555555; }
  
.post-nav-item a {
color: #555555; } 

#TableOfContents li a,
.toc-top li a {
  color: #555555; } 
  
/* Documentation: article footer. */
.docs .body-footer {
border-top: 1px solid #555555;
color: #555555; }

/*************************************************
 *  Tables
 **************************************************/
/* Based on Bootstrap's `table-responsive` style. */
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  border-top: 0px solid $black; }

// Bordes estilo booktabs
table > thead {
    border-top: 2px solid $black; }
table > thead > tr > th {
  border-bottom: 1px solid $black; }
table > tbody {
  border-bottom: 2px solid $black; }

table > tbody + tbody {
  border-top: 2px solid $black; }

/* Table Striped */
table > tbody > tr:nth-child(odd) > td,
table > tbody > tr:nth-child(odd) > th {
  background-color: #dddddd; }

/* Table Hover */
table > tbody > tr:hover > td,
table > tbody > tr:hover > th {
  color: $white;
  background-color: #555555; }
  
/*************************************************
*  Gallery.
**************************************************/
.gallery a[data-fancybox] img {
height: 200px; }

/* Quotes */
blockquote {
  color: #555555;
  border-left: .25rem solid #555555; }
  
hr {
background: #555555;
background-image: linear-gradient(to right, #dddddd, #555555, #dddddd); }  

.markup-quote {
  color: #000000;
  background-color: transparent;
  background-image: linear-gradient(to bottom, $primary_complementary_bg, $primary_complementary_bg); }