// Flechas del slider e indicadores más grandes (3x)
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 60px;
  height: 60px; }
  
.carousel-control-prev-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e"); }

.carousel-control-next-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e"); }  
  
.carousel-indicators {
	li {
	  width: 90px;
	  height: 9px;
	  background-color: $primary;
	}
}  
  
// Personalización de los colores de las notas y los warnings
div.alert > div:first-child::before {
color: $primary;
}  
  
.alert-note {
color: $primary;
background-color: #bad0ff;
border-color: $primary; }

div.alert-warning > div:first-child::before {
  color: #994001;
}

.alert-warning {
color: #994001;
background-color: #ffe8d8;
border-color: #994001; }

// Color del subtítulo de los proyectos
.section-heading p {
  color: #994001;
}

// Color del subtítulo de mi rol
.author-card .card-subtitle {
  color: #555555; }
  
// Color del portrait h3
.portrait-title h3 {
  color: #555555; }
  
// Color de la institución en Formación
ul.ul-edu li .description p.institution {
color: #555555; }

// Color de text-muted
.text-muted {
  color: #555555 !important; }  

// Color del texto del slider
.wg-hero.dark .hero-title,
.wg-hero.dark .hero-lead,
.wg-hero.dark .hero-cta-alt,
.wg-hero.dark .hero-note > * {
  color: $primary;
  /* text-shadow: 1px 1px 4px rgba(255,255,255,1); */
  /* Uncomment to standout on complicated backgrounds. */ }
  
.wg-hero.dark a:not(.wg-hero .btn) {
color: $primary; }

// Color de los metada de artículo
.article-metadata {
  color: #994001; }
.article-metadata a {
    color: #994001; }
	
// Color de los headings
/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: $primary; }
  
.article-title a {
color: $primary; }

/**************************************************
 *  Tags/Labels
 **************************************************/
.badge-light {
  color: #994001;
  background: #ffe8d8; }

.badge-light[href]:focus,
.badge-light[href]:hover {
  color: #ffe8d8;
  background: #994001; }

.tag-cloud a:active,
.tag-cloud a:focus,
.tag-cloud a:hover {
  color: $primary; }

// Botones
.wg-hero.dark .btn {
  color: $primary; }

.btn-light {
  color: $primary;
  background-color: transparent;
  border-color: $primary; }
  .btn-light:hover {
    color: $primary;
    background-color: #bad0ff;
    border-color: $primary; }
  .btn-light:focus, .btn-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(1, 51, 153, 0.5); }
  .btn-light.disabled, .btn-light:disabled {
    color: $primary;
    background-color: transparent; }
  .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
    color: $primary;
    background-color: #bad0ff;
    border-color: $primary; }
    .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(1, 51, 153, 0.5); }

.btn-outline-primary {
color: #994001;
border-color: #994001; }
.btn-outline-primary:hover {
  color: #fff;
  background-color: #994001;
  border-color: #994001; }
.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(153, 64, 1, 0.5); }
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #994001;
  background-color: transparent; }
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #994001;
  border-color: #994001; }
  .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(153, 64, 1, 0.5); }	  