@charset "UTF-8";

/**************************************************
 *  Definiciones de colores basadas en $primary
 **************************************************/
$primary_bg: #BBCCEE;
$primary_complementary: #b50000;
$primary_complementary_bg: #ffcccc;
$example_fg: #4c5f26;
$example_bg: #CCDDAA;

/*************************************************
 *  Academic's Core
 **************************************************/

html {
  font-family: $sta-font-body, serif;
}

body {
  color: #111111;
  background-color: #fffff8; }
  
a.footnote-ref {
  position: relative;
  top: 0;
  left: 0;
  font-weight: bold;
  color: #111111;
  background-color: $primary_bg;
  border-radius: 50%;
  padding:0.2em 0.5em 0.2em
}

a.footnote-ref:hover {
  border: none;
  color: #fffff8;
  background-color: $primary;
  text-decoration: none;
  transition: none;
}

a.footnote-backref {
    position: relative;
    top: -0.2em;
    font-weight: bold;
    color: #111111;
    background-color: $primary_bg;
    font-size: 0.8em;
    border-radius: 0.4em;
    padding: 0.2em 0.4em 0;
    border:none
}

a.footnote-backref:hover {
    border: none;
    color: #fffff8;
    background-color: $primary;
	text-decoration: none;
    transition: none;	
}

#popup-content a.footnote-backref {
	color: #111111 !important;
	background-color: #f7f056;
}

#popup-content a.footnote-backref:hover {
	color: $primary;
	background-color: #fffff8;	
}  
  
p svg {
	display: inline-flex;
	align-self: center;
	bottom: 0.1em;
	line-height: 1;
	position: relative;
}
  
/* Navigation bar text */
.navbar-light {
font-family: $sta-font-nav, serif;
}  
  
/* Headings */
h1, h2, h3, h4, h5, h6 {
color: $primary; }  

code {
  background: $primary_bg;
  color: #000000;
  border-radius: 0.5em;
//  border: 1px solid $primary;
  overflow-x:auto;
  padding:0.2em 0.4em
}

#popup-content code {
  background: #f7f056; }   
  
pre {
font-size: 0.875rem; }

hr {
background: $primary;
background-image: linear-gradient(to right, $primary_bg, $primary, $primary_bg); }

.alert-example hr {
background: $example_fg;
background-image: linear-gradient(to right, $example_bg, $example_fg, $example_bg); }

/* Quotes */
blockquote {
  color: #555555;
  border-left: .25rem solid $primary; }
  
.alert-example blockquote {
border-left: .25rem solid $example_fg; }    
  
.markup-quote {
color: #000000;
background-color: transparent;
background-image: linear-gradient(to bottom, $primary_complementary_bg, $primary_complementary_bg); }  

/*************************************************
*  Gallery
**************************************************/

.fancybox-caption {
    color: #ffffff;
}

.fancybox-caption a, .fancybox-caption a:link, .fancybox-caption a:visited {
    color: #f7f056;
}  
  
/*************************************************
*  Pager
**************************************************/

.post-nav-item a {
color: #555555; }

.post-nav-item .meta-nav {
  color: #555555; } 

/*************************************************
*  Footer
**************************************************/  
  
site-footer,
footer a.back-to-top i {
color: rgba(42, 84, 169, 0.54); }

.powered-by svg {
	display: inline-flex;
	align-self: center;
	bottom: 0.1em;
	line-height: 1;
	position: relative;
  }	

/**************************************************
 *  Tags/Labels
 **************************************************/
.badge-light {
  color: #000000;
  background: $primary_complementary_bg; }

.badge-light[href]:focus,
.badge-light[href]:hover {
  color: #ffffff;
  background: $primary_complementary; }  

.tag-cloud a:active,
.tag-cloud a:focus,
.tag-cloud a:hover {
  color: $primary; }
  
/*************************************************
*  Toolbar Buttons
**************************************************/  
  
.btn-toolbar {
  justify-content: center
}  
  
/*************************************************
*  Tables
**************************************************/
/* Based on Bootstrap's `table-responsive` style. */
table > thead > tr > th {
color: $primary; }

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
border-top: 0px solid $primary; }

// Bordes estilo booktabs
table > thead {
  border-top: 2px solid $primary; }
table > thead > tr > th {
border-bottom: 1px solid $primary; }
table > tbody {
border-bottom: 2px solid $primary; }

table > tbody + tbody {
border-top: 2px solid $primary; }

/* Table Striped */
table > tbody > tr:nth-child(odd) > td,
table > tbody > tr:nth-child(odd) > th {
background-color: $primary_bg; }

/* Table Hover */
table > tbody > tr:hover > td,
table > tbody > tr:hover > th {
color: #fffff8;
background-color: $primary; }

/*************************************************
 *  Article Alerts (Shortcode) and Asides (Mmark)
 **************************************************/

div.alert > div:first-child::before {
color: $primary;
}
  
.alert-note {
color: #000000;
background-color: $primary_bg;
border-color: $primary; }

div.alert-warning > div:first-child::before {
  color: $primary_complementary;
}

.alert-warning {
color: #000000;
background-color: $primary_complementary_bg;
border-color: $primary_complementary; }

div.alert-example > div:first-child::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: $example_fg;
  content: '\f0eb';
}

.alert-example {
  color: #000000;
  background-color: $example_bg;
  border-color: $example_fg;
}

div.alert-gdrive > div:first-child::before {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900;
  color: $primary;
  content: '\f3aa';
}

.alert-gdrive {
  color: #000000;
  background-color: $primary_bg;
  border-color: $primary;
}

/*************************************************
 *  Card component
 **************************************************/

.card {
  background: #ffffff; }

.card .card-text p {
  color: #555555; }
  
.card .card-image.hover-overlay:after {
color: #555555; }

/*************************************************
 *  Search
 **************************************************/
#search-box #search-query {
  border: 1px solid $primary; }
  
.search-hit em {
background-color: $primary_complementary_bg;
color: #000000;
border-bottom: 1px solid $primary_complementary; }  
  
mark,
.mark {
background-color: $primary_complementary_bg;
color: #000000; }

.form-control:focus {
  border-color: $primary;
  box-shadow: 0 0 0 0.2rem $primary; }

/*************************************************
 *  Page content
 **************************************************/

.page-subtitle {
  font-family: "Cabin Sketch", sans-serif;
  color: #111111; }
  
.article-header-caption {
color: #ffffff; }

.article-header-caption a {
color: #f7f056; }
  
.article-title a {
color: $primary; }

.article-metadata {
color: $primary_complementary; }

.article-metadata svg {
  fill: $primary_complementary; 
display: inline-flex;
align-self: center;
bottom: 0.1em;
line-height: 1;
position: relative; }

.article-metadata a,
.article-metadata a:hover {
  color: $primary_complementary; }
  
.article-style {
	text-align: justify;
	text-justify: auto;
}

/*************************************************
 *  Sharing
 **************************************************/

ul.share li a {
  color: #111111; }  
  
/*************************************************
*  Author profile card
**************************************************/
  
.author-card .card-subtitle {
color: #555555; }

/*************************************************
 *  Page Builder: sections and widgets
 **************************************************/

/* Override dark colors that may be inherited from body.dark */
.home-section.dark,
.home-section.dark h1,
.home-section.dark h2,
.home-section.dark h3,
.home-section.dark a:not(.btn) {
color: $primary; }    	

.section-heading p {
  font-family: "Cabin Sketch", sans-serif;
  color: $primary_complementary;
}

section.home-section div.center-text p {
  font-weight: 400;
  font-size: 1.1rem;	
  font-family: "Cabin Sketch", sans-serif;
  color: $primary_complementary; }  

.section-heading a {
	color: currentColor;
	text-decoration: none;
	border-bottom: solid 1px currentColor; }
	
/*************************************************
 *  Featurette Widget
 **************************************************/

.featurette-icon span {
	  display: inline-block; }
.featurette-icon span:hover {
  transform: scale(1.2); }
.featurette-icon span a:hover {
	text-decoration: none; }  

/*************************************************
 *  Hero Widget
 **************************************************/

.wg-hero.dark .hero-title,
.wg-hero.dark .hero-lead,
.wg-hero.dark .hero-cta-alt,
.wg-hero.dark .hero-note > * {
  color: $primary;
  /* text-shadow: 1px 1px 4px rgba(255,255,255,1); */
  /* Uncomment to standout on complicated backgrounds. */ }
  
.wg-hero.dark a:not(.wg-hero .btn) {
color: $primary; }

.wg-hero.dark .btn {
  color: $primary; }
  
.wg-hero.dark .btn:active,
.wg-hero.dark .btn:focus,
.wg-hero.dark .btn:hover {
color: #ffffff; }  

/*************************************************
 *  About widget
 **************************************************/

.portrait-title h3 {
  color: #555555; }
  
ul.ul-edu li .description p.institution {
color: #555555; }  
  
/*************************************************
*  Documentation layout
**************************************************/  

/* Documentation: article footer. */

.docs .body-footer {
border-top: 1px solid #555555;
color: #555555; }  

/* Docs sidebar li>a. */  

.docs-sidebar .nav > li > a {
color: #555555; }

.docs-sidebar .nav > li > a:hover {
color: #111111; }  

/* Docs TOC nav. */

#TableOfContents li a,
.toc-top li a {
  color: #555555; }

/*************************************************
*  Carousel
**************************************************/
    
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 60px;
  height: 60px; }  
  
.carousel-control-prev-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%232a54a9' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e"); }

.carousel-control-next-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%232a54a9' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e"); }  
  
.carousel-indicators {
	li {
	  width: 90px;
	  height: 9px;
	  background-color: $primary;
	}
}    

/*************************************************
*  Text
**************************************************/

.text-muted {
  color: #555555 !important; }
  
/*************************************************
*  Pagination
**************************************************/  
  
.page-link {
color: $primary;
background-color: #fffff8;
border: 1px solid $primary; }

.page-link:hover {
  color: #fffff8;
  text-decoration: none;
  background-color: $primary;
  border-color: $primary; }	  
  
/*************************************************
*  Buttons
**************************************************/    

.btn-light {
  color: $primary;
  background-color: transparent;
  border-color: $primary; }
.btn-light:hover {
color: #FFFFF8;
background-color: $primary;
border-color: $primary; }
.btn-light:focus, .btn-light.focus {
box-shadow: 0 0 0 0.2rem rgba(42, 84, 169, 0.5); }
.btn-light.disabled, .btn-light:disabled {
color: $primary;
background-color: transparent; }
.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
color: #FFFFF8;
background-color: $primary;
border-color: $primary; }
.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(42, 84, 169, 0.5); }
  
/*************************************************
*  Forms
**************************************************/  

.form-control {
	color: $primary;
	background-color: #fffff8;
	border: 1px solid $primary; }
.form-control:-moz-focusring {
	text-shadow: 0 0 0 #111111; }
.form-control:focus {
	color: #111111;
	background-color: #fffff8;
	border-color: $primary; }
.form-control::placeholder {
	color: #555555; }

select.form-control:focus::-ms-value {
	color: $primary; }

.form-control-plaintext {
	color: $primary; }
	
/*************************************************
*  highlight.js
**************************************************/
	
.hljs {	
	color: #555555;
	background: #fffff8;
}

.hljs-variable, .hljs-template-variable, .hljs-tag, .hljs-name, .hljs-selector-id, .hljs-selector-class, .hljs-regexp, .hljs-deletion {
    color: $primary_complementary;
}

.hljs-string, .hljs-symbol, .hljs-bullet, .hljs-addition {
    color: $example_fg;
}

/*************************************************
*  Kudos
**************************************************/

p.kudos {
	font-size: 0.8rem;
	color: #555555; 
	text-align: center; }	
	
/*************************************************
*  Applause
**************************************************/	
	
@mixin animate-once($name) {
  animation-name: $name;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@mixin centered-square($size) {
  position: absolute;
  width: $size;
  height: $size;
  margin-left: (100% - $size) / 2;
  margin-top: (100% - $size) / 2;
}

@mixin position-fill() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

applause-button .style-root {
	fill: #111111 !important;
	stroke: #111111 !important;
	color: #111111 !important; }

applause-button {
  position: relative;
  cursor:pointer;

  .style-root {
    @include position-fill();

    &:after {
      @include position-fill();
      content: " ";
      display: block;
      border-radius: 50%;
      border: 1px solid;
    }
    &:hover:after:not(.clap-limit-exceeded) {
      border-color: inherit;
    }
  }

  &.loading {
    opacity: 0.5;
  }

  .shockwave {
    @include position-fill();
    border-radius: 50%;
  }

  svg {
    @include centered-square(60%);
    @include position-fill();
    opacity: 1.0;
    stroke: none;
    // annoyingly bootstrap has a higher precedence rule that sets overflow to hidden
    // hence the bang-important
    overflow: visible !important;

    g.flat {
      visibility: hidden;
    }
    g.outline {
      visibility: visible;
    }
  }

  &.clapped {
    svg {
      g.flat {
        visibility: visible;
      }
      g.outline {
        visibility: hidden;
      }
    }
  }

  .count-container {
    position: absolute;
    top: -80%;
    width: 100%;
    color: #111111;
    user-select: none;

    .count {
  	  font-family: "Cabin Sketch";
	  font-size: 0.8rem;
	  color: #555555;
      text-align: center;
    }
  }

  g.sparkle {
    circle {
      opacity: 0;
      stroke-width: 0;
    }

    $elements: 5;
    $degrees: 360deg / $elements;
    @for $i from 0 to $elements {
      g:nth-child(#{$i + 1}) {
        transform: rotate($degrees * $i) translateX(10px);
      }
    }
  }

  &:hover:not(.clapped) {
    .shockwave {
      animation-name: shockwave;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in;
    }
  }

  // CSS that is toggled to fire one-time animations
  &.clap {
    .sparkle circle {
      @include animate-once(explode);
    }

    @include animate-once(pulse);

    .count {
      @include animate-once(hideThenShow);
    }
  }
}

@keyframes explode {
  0% {
    transform: translateX(10px);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(25px);
  }
}

@keyframes shockwave {
  0% {
    transform: scale(1);
    box-shadow: 0 0 2px;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
    box-shadow: 0 0 50px, inset 0 0 10px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes hideThenShow {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  20% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  80% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

///*************************************************
//*  littlefoot
//**************************************************/
//
//.littlefoot-footnote__host aside p,
//div.alert > div {
//  all: initial; }
//
//.littlefoot-footnote__host div > * {
//  all: initial;
//  /* Use smaller paragraph spacing than usual. */ }
//
//.littlefoot-footnote__host div > :last-child {
//  all: initial; }
//
//.littlefoot-footnote__host aside p::before,
//.littlefoot-footnote__host > div:first-child::before {
//  all: initial; }

///*************************************************
//*  Footnotes
//**************************************************/
.bottom-panel {
  position: fixed;
  font-size: 0.9rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $primary;
  color: #ffffff;
}

.popup-wrapper {
  display: none;
  max-width: 720px;
  margin: 0 auto;
//  background-color: $primary;
//  color: #ffffff;
//  border-top: 3px solid $primary;
}

//#popup-index {
//  padding: 1.25rem 0 0 0;
//}

//#popup-close {
//  padding: 1.25rem 0 0 1.25rem;
//  margin-left: auto;
//  cursor: pointer;
//  color: #f7f056;
//}

//#popup-close:hover {
//  background-color: $primary;
//}

#popup-content {
  max-width: 720px;
  text-align: left;
  padding: 1rem;
  line-height: 1.4rem;
  margin: 0 auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#popup-content a, #popup-content a:link, #popup-content a:visited {
    color: #f7f056;
}

#popup-content a > code {
  color: currentColor;
  text-decoration: none;
  border-bottom: solid 1px currentColor; }