// Flechas del slider e indicadores más grandes (3x)
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 60px;
  height: 60px; }
  
.carousel-indicators {
	li {
	  width: 90px;
	  height: 9px;
	}
}  
  
// Personalización de los colores de las notas y los warnings
div.alert > div:first-child::before {
color: #013399;
}  
  
.alert-note {
color: #013399;
background-color: #bad0ff;
border-color: #013399; }

div.alert-warning > div:first-child::before {
  color: #994001;
}

.alert-warning {
color: #994001;
background-color: #ffe8d8;
border-color: #994001; }

// Color del subtítulo de los proyectos
.section-heading p {
  color: #555555;
}

// Color del subtítulo de mi rol
.author-card .card-subtitle {
  color: #555555; }
  
// Color del portrait h3
.portrait-title h3 {
  color: #555555; }
  
// Color de la institución en Formación
ul.ul-edu li .description p.institution {
color: #555555; }

// Color de text-muted
.text-muted {
  color: #555555 !important; }  

// Color del texto del slider
.wg-hero.dark .hero-title,
.wg-hero.dark .hero-lead,
.wg-hero.dark .hero-cta-alt,
.wg-hero.dark .hero-note > * {
  color: #013399;
  /* text-shadow: 1px 1px 4px rgba(255,255,255,1); */
  /* Uncomment to standout on complicated backgrounds. */ }
  
.wg-hero.dark a:not(.wg-hero .btn) {
color: #013399; }

// Botones
.wg-hero.dark .btn {
  color: #013399; }
  
a,
h3.article-title a:hover {
color: $red; }  

.btn-light {
  color: #013399;
  background-color: transparent;
  border-color: #013399; }
  .btn-light:hover {
    color: #FFFFFF;
    background-color: #013399;
    border-color: #013399; }
  .btn-light:focus, .btn-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(1, 51, 153, 0.5); }
  .btn-light.disabled, .btn-light:disabled {
    color: #013399;
    background-color: transparent; }
  .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
    color: #FFFFFF;
    background-color: #013399;
    border-color: #013399; }
    .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(1, 51, 153, 0.5); }