// Flechas del slider e indicadores más grandes (3x)
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 60px;
  height: 60px; }
  
.carousel-indicators {
	li {
	  width: 90px;
	  height: 9px;
	}
}  
  
// Personalización de los colores de las notas y los warnings
div.alert > div:first-child::before {
color: #349901;
}  
  
.alert-note {
color: #349901;
background-color: #bbccee;
border-color: #349901; }

div.alert-warning > div:first-child::before {
  color: #990134;
}

.alert-warning {
color: #990134;
background-color: #FFCCCC;
border-color: #990134; }