// Flechas del slider e indicadores más grandes (3x)
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 60px;
  height: 60px; }
  
.carousel-indicators {
	li {
	  width: 90px;
	  height: 9px;
	}
}  
  
// Personalización de los colores de las notas y los warnings
div.alert > div:first-child::before {
color: #013399;
}  
  
.alert-note {
color: #013399;
background-color: #bad0ff;
border-color: #013399; }

div.alert-warning > div:first-child::before {
  color: #994001;
}

.alert-warning {
color: #994001;
background-color: #ffe8d8;
border-color: #994001; }

// Color del subtítulo
.section-heading p {
  color: #DDDDDD;
}

// Color del texto del slider
.wg-hero.dark .hero-title,
.wg-hero.dark .hero-lead,
.wg-hero.dark .hero-cta-alt,
.wg-hero.dark .hero-note > * {
  color: #013399;
  //text-shadow: 1px 1px 4px rgba(255,255,255,1);
  /* Uncomment to standout on complicated backgrounds. */ }
  
.wg-hero.dark a:not(.wg-hero .btn) {
color: #013399; }  