// Flechas del slider e indicadores más grandes (3x)
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 60px;
  height: 60px; }
  
.carousel-control-prev-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23013399' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e"); }

.carousel-control-next-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23013399' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e"); }  
  
.carousel-indicators {
	li {
	  width: 90px;
	  height: 9px;
	  background-color: $primary;
	}
}  
  
// Personalización de los colores de las notas y los warnings
div.alert > div:first-child::before {
color: $primary;
}  
  
.alert-note {
color: $primary;
background-color: #bad0ff;
border-color: $primary; }

div.alert-warning > div:first-child::before {
  color: #994001;
}

.alert-warning {
color: #994001;
background-color: #ffe8d8;
border-color: #994001; }

// Color del subtítulo de los proyectos
.section-heading p {
  color: #994001;
}

// Color del subtítulo de mi rol
.author-card .card-subtitle {
  color: #555555; }
  
// Color del portrait h3
.portrait-title h3 {
  color: #555555; }
  
// Color de la institución en Formación
ul.ul-edu li .description p.institution {
color: #555555; }

// Color de text-muted
.text-muted {
  color: #555555 !important; }  

// Color del texto del slider
.wg-hero.dark .hero-title,
.wg-hero.dark .hero-lead,
.wg-hero.dark .hero-cta-alt,
.wg-hero.dark .hero-note > * {
  color: $primary;
  /* text-shadow: 1px 1px 4px rgba(255,255,255,1); */
  /* Uncomment to standout on complicated backgrounds. */ }
  
/* Override dark colors that may be inherited from body.dark */
.home-section.dark,
.home-section.dark h1,
.home-section.dark h2,
.home-section.dark h3,
.home-section.dark a:not(.btn) {
color: $primary; }  
  
.wg-hero.dark a:not(.wg-hero .btn) {
color: $primary; }

// Color de los metada de artículo
.article-metadata {
  color: #994001; }
.article-metadata a,
.article-metadata a:hover {
    color: #994001; }
	
// Color de los headings
/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: $primary; }
  
.article-title a {
color: $primary; }

/**************************************************
 *  Tags/Labels
 **************************************************/
.badge-light {
  color: #994001;
  background: #ffe8d8; }

.badge-light[href]:focus,
.badge-light[href]:hover {
  color: #ffe8d8;
  background: #994001; }  

.tag-cloud a:active,
.tag-cloud a:focus,
.tag-cloud a:hover {
  color: $primary; }

// Botones
.wg-hero.dark .btn {
  color: $primary; }
  
.wg-hero.dark .btn:active,
.wg-hero.dark .btn:focus,
.wg-hero.dark .btn:hover {
color: $white; }  

.btn-light {
  color: $primary;
  background-color: transparent;
  border-color: $primary; }
  .btn-light:hover {
    color: #FFFFFF;
    background-color: $primary;
    border-color: $primary; }
  .btn-light:focus, .btn-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(1, 51, 153, 0.5); }
  .btn-light.disabled, .btn-light:disabled {
    color: $primary;
    background-color: transparent; }
  .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
    color: #FFFFFF;
    background-color: $primary;
    border-color: $primary; }
    .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(1, 51, 153, 0.5); }
	
// Color de la flecha del footer
site-footer,
footer a.back-to-top i {
  color: rgba(1, 51, 153, 0.54); }	  
  
// Card overlay
.card .card-image.hover-overlay:after {
color: #555; }

/*************************************************
 *  Search
 **************************************************/
#search-box #search-query {
  border: 1px solid #555555; }  
  
mark,
.mark {
background-color: #ffe8d8; 
color: #994001; }  

.form-control:focus {
  border-color: $primary;
  box-shadow: 0 0 0 0.2rem $primary; }
  
// Formulario de contacto
.form-control {
  color: #495057;
  background-color: $red;
  border: 1px solid #ced4da; }
  @media (prefers-reduced-motion: reduce) {
    .form-control {
      transition: none; } }
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0; }
  .form-control:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #495057; }
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #1c66fe;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(1, 51, 153, 0.25); }
  .form-control::placeholder {
    color: #6c757d;
    opacity: 1; }
  .form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1; }

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff; }

.form-control-file,
.form-control-range {
  display: block;
  width: 100%; }

.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5; }

.col-form-label-lg {
  padding-top: calc(0.5rem + 1px);
  padding-bottom: calc(0.5rem + 1px);
  font-size: 1.25rem;
  line-height: 1.5; }

.col-form-label-sm {
  padding-top: calc(0.25rem + 1px);
  padding-bottom: calc(0.25rem + 1px);
  font-size: 0.875rem;
  line-height: 1.5; }

.form-control-plaintext {
  display: block;
  width: 100%;
  padding: 0.375rem 0;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0; }
  .form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
    padding-right: 0;
    padding-left: 0; }

.form-control-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem; }

.form-control-lg {
  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem; }

select.form-control[size], select.form-control[multiple] {
  height: auto; }

textarea.form-control {
  height: auto; }

.form-group {
  margin-bottom: 1rem; }

.form-text {
  display: block;
  margin-top: 0.25rem; }

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px; }
  .form-row > .col,
  .form-row > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px; }

.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem; }

.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem; }
  .form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
    color: rgba(0, 0, 0, 0.54); }

.form-check-label {
  margin-bottom: 0; }

.form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  margin-right: 0.75rem; }
  .form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: 0.3125rem;
    margin-left: 0; }  