// Flechas del slider más grandes
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 60px;
  height: 60px; }
  
.carousel-indicators {
position: absolute;
right: 0;
bottom: 0;
left: 0;
z-index: 15;
display: flex;
justify-content: center;
padding-left: 0; // override <ol> default
// Use the .carousel-control's width as margin so we don't overlay those
margin-right: $carousel-control-width;
margin-left: $carousel-control-width;
list-style: none;

li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: $carousel-indicator-width;
  height: 30px;
  margin-right: $carousel-indicator-spacer;
  margin-left: $carousel-indicator-spacer;
  text-indent: -999px;
  cursor: pointer;
  background-color: $carousel-indicator-active-bg;
  background-clip: padding-box;
  // Use transparent borders to increase the hit area by 10px on top and bottom.
  border-top: $carousel-indicator-hit-area-height solid transparent;
  border-bottom: $carousel-indicator-hit-area-height solid transparent;
  opacity: .5;
  @include transition($carousel-indicator-transition);
}

.active {
  opacity: 1;
}
}  
  
// Personalización de los colores de las notas y los warnings
div.alert > div:first-child::before {
color: #013399;
}  
  
.alert-note {
color: #013399;
background-color: #bbccee;
border-color: #013399; }

div.alert-warning > div:first-child::before {
  color: #994001;
}

.alert-warning {
color: #994001;
background-color: #FFCCCC;
border-color: #663333; }