// Flechas del slider e indicadores más grandes (3x)
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 60px;
  height: 60px; }
  
.carousel-indicators {
	li {
	  width: 90px;
	  height: 9px;
	}
}  
  
// Personalización de los colores de las notas y los warnings
div.alert > div:first-child::before {
color: #354D05;
}  
  
.alert-note {
color: #354D05;
background-color: #b1f22f;
border-color: #354D05; }

div.alert-warning > div:first-child::before {
  color: #992611;
}

.alert-warning {
color: #992611;
background-color: #FFCCCC;
border-color: #992611; }