@charset "UTF-8";

/**************************************************
 *  Definiciones de colores basadas en $primary
 **************************************************/
$primary_bg: #BBCCEE;
$primary_complementary: #b50000;
$primary_complementary_bg: #ffcccc;
$example_fg: #4c5f26;
$example_bg: #CCDDAA;

/*************************************************
 *  Academic's Core
 **************************************************/

html {
  font-family: $sta-font-body, serif;
}

body {
  color: #111111;
  background-color: #fffff8; }
  
p svg {
	display: inline-flex;
	align-self: center;
	bottom: 0.1em;
	line-height: 1;
	position: relative;
}
  
/* Navigation bar text */
.navbar-light {
font-family: $sta-font-nav, serif;
}  
  
/* Headings */
h1, h2, h3, h4, h5, h6 {
color: $primary; }  

pre,
code {
  color: #111111;
  background-color: $primary_complementary_bg; }  
  
pre {
font-size: 0.875rem; }

hr {
background: #555555;
background-image: linear-gradient(to right, #dddddd, #555555, #dddddd); }  

/* Quotes */
blockquote {
  color: #555555;
  border-left: .25rem solid #555555; }  
  
.markup-quote {
color: #111111;
background-color: transparent;
background-image: linear-gradient(to bottom, $primary_complementary_bg, $primary_complementary_bg); }  

/*************************************************
*  Gallery
**************************************************/

.fancybox-caption {
    color: #fffff8;
}

.fancybox-caption a, .fancybox-caption a:link, .fancybox-caption a:visited {
    color: #f7f056;
}  
  
/*************************************************
*  Pager
**************************************************/

.post-nav-item a {
color: #555555; }

.post-nav-item .meta-nav {
  color: #555555; } 

/*************************************************
*  Footer
**************************************************/  
  
site-footer,
footer a.back-to-top i {
color: rgba(42, 84, 169, 0.54); }

.powered-by svg {
	display: inline-flex;
	align-self: center;
	bottom: 0.1em;
	line-height: 1;
	position: relative;
  }	

/**************************************************
 *  Tags/Labels
 **************************************************/
.badge-light {
  color: #111111;
  background: $primary_complementary_bg; }

.badge-light[href]:focus,
.badge-light[href]:hover {
  color: #fffff8;
  background: $primary_complementary; }  

.tag-cloud a:active,
.tag-cloud a:focus,
.tag-cloud a:hover {
  color: $primary; }
  
/*************************************************
*  Tables
**************************************************/
/* Based on Bootstrap's `table-responsive` style. */
table > thead > tr > th {
color: $primary; }

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
border-top: 0px solid $primary; }

// Bordes estilo booktabs
table > thead {
  border-top: 2px solid $primary; }
table > thead > tr > th {
border-bottom: 1px solid $primary; }
table > tbody {
border-bottom: 2px solid $primary; }

table > tbody + tbody {
border-top: 2px solid $primary; }

/* Table Striped */
table > tbody > tr:nth-child(odd) > td,
table > tbody > tr:nth-child(odd) > th {
background-color: $primary_bg; }

/* Table Hover */
table > tbody > tr:hover > td,
table > tbody > tr:hover > th {
color: #fffff8;
background-color: $primary; }

/*************************************************
 *  Article Alerts (Shortcode) and Asides (Mmark)
 **************************************************/

div.alert > div:first-child::before {
color: $primary;
}
  
.alert-note {
color: #111111;
background-color: $primary_bg;
border-color: $primary; }

div.alert-warning > div:first-child::before {
  color: $primary_complementary;
}

.alert-warning {
color: #111111;
background-color: $primary_complementary_bg;
border-color: $primary_complementary; }

div.alert-example > div:first-child::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: $example_fg;
  content: '\f0eb';
}

.alert-example {
  color: #111111;
  background-color: $example_bg;
  border-color: $example_fg;
}

div.alert-gdrive > div:first-child::before {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900;
  color: $primary;
  content: '\f3aa';
}

.alert-gdrive {
  color: #111111;
  background-color: $primary_bg;
  border-color: $primary;
}

/*************************************************
 *  Card component
 **************************************************/

.card {
  background: #ffffff; }

.card .card-text p {
  color: #555555; }
  
.card .card-image.hover-overlay:after {
color: #555555; }

/*************************************************
 *  Search
 **************************************************/
#search-box #search-query {
  border: 1px solid $primary; }
  
.search-hit em {
background-color: $primary_complementary_bg;
color: #111111;
border-bottom: 1px solid $primary_complementary; }  
  
mark,
.mark {
background-color: $primary_complementary_bg;
color: #111111; }

.form-control:focus {
  border-color: $primary;
  box-shadow: 0 0 0 0.2rem $primary; }

/*************************************************
 *  Page content
 **************************************************/

.page-subtitle {
  font-family: "Cabin Sketch", sans-serif;
  color: #111111; }
  
.article-header-caption {
color: #fffff8; }

.article-header-caption a {
color: #f7f056; }
  
.article-title a {
color: $primary; }

.article-metadata {
color: $primary_complementary; }

.article-metadata svg {
  fill: $primary_complementary; 
display: inline-flex;
align-self: center;
bottom: 0.1em;
line-height: 1;
position: relative; }

.article-metadata a,
.article-metadata a:hover {
  color: $primary_complementary; }
  
.article-style {
	text-align: justify;
	text-justify: auto;
}

/*************************************************
 *  Sharing
 **************************************************/

ul.share li a {
  color: #111111; }  
  
/*************************************************
*  Author profile card
**************************************************/
  
.author-card .card-subtitle {
color: #555555; }

/*************************************************
 *  Page Builder: sections and widgets
 **************************************************/

/* Override dark colors that may be inherited from body.dark */
.home-section.dark,
.home-section.dark h1,
.home-section.dark h2,
.home-section.dark h3,
.home-section.dark a:not(.btn) {
color: $primary; }    	

.section-heading p {
  font-family: "Cabin Sketch", sans-serif;
  color: $primary_complementary;
}

.section-heading a {
	color: currentColor;
	text-decoration: none;
	border-bottom: solid 1px currentColor; }
	
/*************************************************
 *  Featurette Widget
 **************************************************/

.featurette-icon span {
	  display: inline-block; }
.featurette-icon span:hover {
  transform: scale(1.2); }
.featurette-icon span a:hover {
	text-decoration: none; }  

/*************************************************
 *  Hero Widget
 **************************************************/

.wg-hero.dark .hero-title,
.wg-hero.dark .hero-lead,
.wg-hero.dark .hero-cta-alt,
.wg-hero.dark .hero-note > * {
  color: $primary;
  /* text-shadow: 1px 1px 4px rgba(255,255,255,1); */
  /* Uncomment to standout on complicated backgrounds. */ }
  
.wg-hero.dark a:not(.wg-hero .btn) {
color: $primary; }

.wg-hero.dark .btn {
  color: $primary; }
  
.wg-hero.dark .btn:active,
.wg-hero.dark .btn:focus,
.wg-hero.dark .btn:hover {
color: #fffff8; }  

/*************************************************
 *  About widget
 **************************************************/

.portrait-title h3 {
  color: #555555; }
  
ul.ul-edu li .description p.institution {
color: #555555; }  
  
/*************************************************
*  Documentation layout
**************************************************/  

/* Documentation: article footer. */

.docs .body-footer {
border-top: 1px solid #555555;
color: #555555; }  

/* Docs sidebar li>a. */  

.docs-sidebar .nav > li > a {
color: #555555; }

.docs-sidebar .nav > li > a:hover {
color: #111111; }  

/* Docs TOC nav. */

#TableOfContents li a,
.toc-top li a {
  color: #555555; }

/*************************************************
*  Carousel
**************************************************/
    
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 60px;
  height: 60px; }  
  
.carousel-control-prev-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%232a54a9' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e"); }

.carousel-control-next-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%232a54a9' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e"); }  
  
.carousel-indicators {
	li {
	  width: 90px;
	  height: 9px;
	  background-color: $primary;
	}
}    

/*************************************************
*  Text
**************************************************/

.text-muted {
  color: #555555 !important; }
  
/*************************************************
*  Pagination
**************************************************/  
  
.page-link {
color: $primary;
background-color: #fffff8;
border: 1px solid $primary; }

.page-link:hover {
  color: #fffff8;
  text-decoration: none;
  background-color: $primary;
  border-color: $primary; }	  
  
/*************************************************
*  Buttons
**************************************************/    

.btn-light {
  color: $primary;
  background-color: transparent;
  border-color: $primary; }
.btn-light:hover {
color: #FFFFF8;
background-color: $primary;
border-color: $primary; }
.btn-light:focus, .btn-light.focus {
box-shadow: 0 0 0 0.2rem rgba(42, 84, 169, 0.5); }
.btn-light.disabled, .btn-light:disabled {
color: $primary;
background-color: transparent; }
.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
color: #FFFFF8;
background-color: $primary;
border-color: $primary; }
.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(42, 84, 169, 0.5); }
  
/*************************************************
*  Forms
**************************************************/  

.form-control {
	color: $primary;
	background-color: #fffff8;
	border: 1px solid $primary; }
.form-control:-moz-focusring {
	text-shadow: 0 0 0 #111111; }
.form-control:focus {
	color: #111111;
	background-color: #fffff8;
	border-color: $primary; }
.form-control::placeholder {
	color: #555555; }

select.form-control:focus::-ms-value {
	color: $primary; }

.form-control-plaintext {
	color: $primary; }
	
/*************************************************
*  highlight.js
**************************************************/
	
.hljs {	
	color: #555555;
	background: #fffff8;
}

.hljs-variable, .hljs-template-variable, .hljs-tag, .hljs-name, .hljs-selector-id, .hljs-selector-class, .hljs-regexp, .hljs-deletion {
    color: $primary_complementary;
}

.hljs-string, .hljs-symbol, .hljs-bullet, .hljs-addition {
    color: $example_fg;
}

/*************************************************
*  Kudos
**************************************************/

p.kudos {
	font-size: 0.8rem;
	color: #555555; 
	text-align: center; }	
	
/*************************************************
*  Applause
**************************************************/	
	
@mixin animate-once($name) {
  animation-name: $name;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@mixin centered-square($size) {
  position: absolute;
  width: $size;
  height: $size;
  margin-left: (100% - $size) / 2;
  margin-top: (100% - $size) / 2;
}

@mixin position-fill() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

applause-button .style-root {
	fill: #111111 !important;
	stroke: #111111 !important;
	color: #111111 !important; }

applause-button {
  position: relative;
  cursor:pointer;

  .style-root {
    @include position-fill();

    &:after {
      @include position-fill();
      content: " ";
      display: block;
      border-radius: 50%;
      border: 1px solid;
    }
    &:hover:after:not(.clap-limit-exceeded) {
      border-color: inherit;
    }
  }

  &.loading {
    opacity: 0.5;
  }

  .shockwave {
    @include position-fill();
    border-radius: 50%;
  }

  svg {
    @include centered-square(60%);
    @include position-fill();
    opacity: 1.0;
    stroke: none;
    // annoyingly bootstrap has a higher precedence rule that sets overflow to hidden
    // hence the bang-important
    overflow: visible !important;

    g.flat {
      visibility: hidden;
    }
    g.outline {
      visibility: visible;
    }
  }

  &.clapped {
    svg {
      g.flat {
        visibility: visible;
      }
      g.outline {
        visibility: hidden;
      }
    }
  }

  .count-container {
    position: absolute;
    top: -80%;
    width: 100%;
    color: #111111;
    user-select: none;

    .count {
  	  font-family: "Cabin Sketch";
	  font-size: 0.8rem;
	  color: #555555;
      text-align: center;
    }
  }

  g.sparkle {
    circle {
      opacity: 0;
      stroke-width: 0;
    }

    $elements: 5;
    $degrees: 360deg / $elements;
    @for $i from 0 to $elements {
      g:nth-child(#{$i + 1}) {
        transform: rotate($degrees * $i) translateX(10px);
      }
    }
  }

  &:hover:not(.clapped) {
    .shockwave {
      animation-name: shockwave;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in;
    }
  }

  // CSS that is toggled to fire one-time animations
  &.clap {
    .sparkle circle {
      @include animate-once(explode);
    }

    @include animate-once(pulse);

    .count {
      @include animate-once(hideThenShow);
    }
  }
}

@keyframes explode {
  0% {
    transform: translateX(10px);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(25px);
  }
}

@keyframes shockwave {
  0% {
    transform: scale(1);
    box-shadow: 0 0 2px;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
    box-shadow: 0 0 50px, inset 0 0 10px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes hideThenShow {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  20% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  80% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*************************************************
*  littlefoot
**************************************************/

/*************************************************
*  Variables
**************************************************/

// These are the key variables for styling the popover.
// Just set the variable to none if you don't want that styling.

// KEY VARIABLES

// STYLES
$popover-width: 22em !default; // Ideal width of the popover
$popover-max-width: 90% !default; // Best as a % to accommodate smaller viewports
$popover-max-height: 15em !default; // Maximum size of the content area
$popover-color-background: rgb(250, 250, 250) !default;
$popover-border-radius: 0.5em !default; // Radius of the corners of the popover
$popover-border: 1px solid rgb(195, 195, 195) !default; // Border of the popover/ tooltip
$popover-inactive-opacity: 0 !default; // Opacity of the popover when instantiated/ deactivating
$popover-active-opacity: 0.97 !default; // Opacity of the popover when active
$popover-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) !default; // Sets the box shadow under the popover/ tooltip
$popover-tooltip-size: 1.3em !default; // Sets the side lengths of the tooltip
$popover-scroll-indicator-width: 0.625em !default; // The width of the scroll indicator
$popover-scroll-indicator-aspect-ratio: (
  15 / 12
) !default; // The ratio of the height over the width of the scroll indicator
$popover-scroll-indicator-opacity: 0.1 !default; // The active opacity of scroll indicators
$popover-initial-transform-state: scale(0.1) translateZ(0) !default; // The inital transform state for the popover
$popover-active-transform-state: scale(1) translateZ(0) !default; // The transform state for the popover once it is fully activated

// OPTIONAL ELEMENTS
$popover-scroll-indicator-icon: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxNXB4IiB2aWV3Qm94PSIwIDAgMTIgMTUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4iPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IkFycm93IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxLjAwMDAwMCwgMS4wMDAwMDApIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiPgogICAgICAgICAgICA8cGF0aCBkPSJNNSwwIEw1LDExLjUiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0wLjUsNy41IEw1LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik00LjUsNy41IEw5LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lLTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcuMDAwMDAwLCAxMC4wMDAwMDApIHNjYWxlKC0xLCAxKSB0cmFuc2xhdGUoLTcuMDAwMDAwLCAtMTAuMDAwMDAwKSAiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=') !default;

// OTHER VARIABLES

// POPOVER
$popover-margin-top: 0.1em !default;
$popover-padding-content-horizontal: 1.4em !default;
$popover-padding-content-top: 0.6em !default;
$popover-padding-content-bottom: 0.6em !default;
$popover-z-index: 10 !default; // Set the base so that it's above the other body children
$popover-initial-transform-origin: 50% 0 !default;

// POPOVER CONTENT WRAPPER
$popover-content-color-background: $popover-color-background !default;
$popover-content-border-radius: $popover-border-radius !default;

// OTHER POPOVER ELEMENTS
$popover-tooltip-background: $popover-color-background !default;
$popover-tooltip-radius: 0 !default;
$popover-scroll-indicator-bottom-position: 0.45em !default;
$popover-scrolly-fade-gradient-start-location: 50% !default;
$popover-scroll-indicator-padding: (
  ($popover-padding-content-horizontal / 2) -
    ($popover-scroll-indicator-width / 2)
) !default;

// POPOVER-AT-BOTTOM STYLING
$popover-bottom-breakpoint: 720px !default; // The window width below which popovers will start displaying at the bottom. Set to "false" to display normal popovers for all window sizes.

// TRANSITIONS
$popover-transition-default-duration: 0.25s !default;
$popover-scroll-indicator-transition-properties: opacity !default;

// Use none for areas you don't want to transition
$popover-transition-properties: opacity, transform !default; // no mixin to do proper prefixing of the transform, so I have to do it manually; see mixin below
$popover-scroll-indicator-transition-properties: opacity !default;
$popover-scroll-up-transition-delay: 0.4s !default; // Sets the delay for the transition of the scroll indicator when scrolling upwards
$popover-transition-default-timing-function: ease !default;

// These are the key variables for styling the button.
// Just set the variable to none if you don't want that styling.

// KEY VARIABLES
// =============================================================================

$button-height: 1em !default; // The total height of the button
$button-dot-size: 0.3em !default; // Total height/width of the ellipsis circles
$button-border-radius: $button-height / 2 !default; // Border radius on the button itself
$button-left-margin: 0.2em !default; // Margin between the button and the text to its left
$button-right-margin: 0.1em !default; // Margin between the button and the text to its right
$button-vertical-offset: -0.1em !default; // Pushes the buttons along the vertical axis to align it with text as desired

$button-color: rgb(110, 110, 110) !default; // Background color of the button
$button-hovered-color: $button-color !default; // Background color of the button when being hovered
$button-activating-color: $button-color !default; // Background color of the button when being clicked
$button-active-color: $button-color !default; // Background color of the button when active
$button-standard-opacity: 0.2 !default; // Opacity for when the button is just sittin' there
$button-hovered-opacity: 0.5 !default; // Opacity for when the button is being hovered over
$button-activating-opacity: $button-hovered-opacity !default; // Opacity for when the button is being clicked
$button-active-opacity: 1 !default; // Opacity for when the button is active
$button-active-style-delay: 0.1s !default; // Delay before applying .active styles; this can be used to match to the popover activation transition

// OTHER VARIABLES

$button-horizontal-padding: 0.5em !default;
$button-vertical-padding: 0.5 * ($button-height - $button-dot-size) !default;
$button-transition-properties: background-color color !default;


/*************************************************
*  Button
**************************************************/

// The button that activates the footnote. By default, this will appear as a
// flat button that has an ellipse contained inside of it.
//
// @state .is-active - The associated popover has been activated and is visible.

.littlefoot-footnote__button {
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
  background-color: rgba($button-color, $button-standard-opacity);
  border-radius: $button-border-radius;
  border: 0;
  box-sizing: border-box;
  color: rgba($button-color, 0.5);
  cursor: pointer;
  display: inline-block;
  font-size: $button-height * 0.9;
  font-weight: bold;
  height: $button-height;
  line-height: 1;
  margin: 0 $button-right-margin 0 $button-left-margin;
  min-width: 1.5em;
  padding: 0 $button-horizontal-padding;
  position: relative;
  text-decoration: none;
  top: $button-vertical-offset;
  transition-duration: $popover-transition-default-duration;
  transition-property: $button-transition-properties;
  transition-timing-function: $popover-transition-default-timing-function;
  vertical-align: middle;
  z-index: 5;

  &:hover,
  &:focus {
    background-color: rgba($button-hovered-color, $button-hovered-opacity);
    color: white;
  }

  &:active {
    background-color: rgba(
      $button-activating-color,
      $button-activating-opacity
    );
    color: white;
  }

  &.is-active {
    background-color: rgba($button-active-color, $button-active-opacity);
    color: white;
    transition-delay: $button-active-style-delay;
  }

  // Clearfix
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

.littlefoot-footnote__button__ellipsis {
  padding: $button-vertical-padding $button-horizontal-padding;

  svg {
    float: left;
    height: $button-dot-size;
  }
}

.littlefoot-footnote__button__number {
  &::after {
    color: rgba($button-color, 0.5);
    content: attr(data-footnote-number);
    display: block;
    font-size: $button-height * 0.9;
    font-weight: bold;
    left: 50%;
    padding: $button-vertical-padding $button-horizontal-padding;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-duration: $popover-transition-default-duration;
    transition-property: $button-transition-properties;
    transition-timing-function: $popover-transition-default-timing-function;
  }

  &:hover,
  &.is-active {
    &::after {
      color: white;
    }
  }

  svg {
    display: none;
  }
}

// The container for the button and popover. This is required so that the
// popover is guaranteed to be relatively-positioned, and to help with the
// positioning calculation.

.littlefoot-footnote__host {
  display: inline-block;
  position: relative;
  text-indent: 0;
}

@media not print {
  .footnote-print-only {
    display: none !important;
  }
}

@media print {
  .littlefoot-footnote,
  .littlefoot-footnote__button {
    display: none !important;
  }
}

/*************************************************
*  Content
**************************************************/

// The popover for the footnote. This popover will be, by default, be sized and positioned
// by the script. However, many of the sizes can be established in this stylesheet and
// will be respected by the script. `max-width` will limit the width of the popover
// relative to the viewport. `width` (on `littlefoot-footnote__wrapper`) will set the
// absolute max width. Max height can be set via a `max-height` property
// on `littlefoot-footnote__content`.
//
// By default, the popover has a light gray background, a shadow for some depth,
// rounded corners, and a tooltip pointing to the footnote button.
//
// @state .is-active            - The popover has been activated and is visible.
// @state .is-scrollable        - The popover content is greater than the popover height.
// @state .is-fully-scrolled    - The popover content is scrolled to the bottom.
// @state .is-positioned-top    - The popover is above the button.
// @state .is-positioned-bottom - The popover is below the button.

.littlefoot-footnote {
  background: $popover-color-background;
  border-radius: $popover-border-radius;
  border: $popover-border;
  box-shadow: $popover-box-shadow;
  box-sizing: border-box;
  display: inline-block;
  left: 0;
  line-height: 0;
  margin: (
      (1.4142135624 * $popover-tooltip-size / 2) + $button-height +
        $popover-margin-top
    )
    0;
  max-width: $popover-max-width;
  opacity: $popover-inactive-opacity;
  position: absolute;
  top: 0;
  transform-origin: $popover-initial-transform-origin;
  transform: $popover-initial-transform-state;
  transition-duration: $popover-transition-default-duration;
  transition-property: $popover-transition-properties;
  transition-timing-function: $popover-transition-default-timing-function;
  z-index: $popover-z-index;

  &.is-positioned-top {
    bottom: 0;
    top: auto;
  }

  &.is-active {
    opacity: $popover-active-opacity;
    transform: $popover-active-transform-state;
  }

  &.is-scrollable {
    // A scrollable indicator in the left margin of the popover.
    &::after {
      content: '';
      position: absolute;
      bottom: $popover-scroll-indicator-padding;
      left: $popover-scroll-indicator-padding;
      z-index: ($popover-z-index + 4);
      display: block;
      height: (
        $popover-scroll-indicator-width * $popover-scroll-indicator-aspect-ratio
      );
      width: $popover-scroll-indicator-width;
      background-image: $popover-scroll-indicator-icon;
      background-size: cover;
      opacity: $popover-scroll-indicator-opacity;
      transition-property: $popover-scroll-indicator-transition-properties;
      transition-duration: $popover-transition-default-duration;
      transition-timing-function: $popover-transition-default-timing-function;
    }

    .littlefoot-footnote__wrapper {
      &::before,
      &::after {
        content: '';
        left: 0;
        position: absolute;
        width: 100%;
        z-index: ($popover-z-index + 2); // Above the content
      }

      &::before {
        background-image: linear-gradient(
          to bottom,
          $popover-color-background
            $popover-scrolly-fade-gradient-start-location,
          transparentize($popover-color-background, 1) 100%
        );
        border-radius: $popover-border-radius $popover-border-radius 0 0;
        height: $popover-padding-content-top;
        top: -1px;
      }

      &::after {
        background-image: linear-gradient(
          to top,
          $popover-color-background
            $popover-scrolly-fade-gradient-start-location,
          transparentize($popover-color-background, 1) 100%
        );
        border-radius: 0 0 $popover-border-radius $popover-border-radius;
        bottom: -1px;
        height: $popover-padding-content-bottom;
      }
    }

    ::-webkit-scrollbar {
      display: none;
    }
  }

  &.is-fully-scrolled {
    &::after,
    &::before {
      opacity: 0;
      transition-delay: 0;
    }
  }

  @if $popover-bottom-breakpoint {
    @media (max-width: $popover-bottom-breakpoint) {
      border-radius: 0;
      border-width: 1px 0 0;
      bottom: 0;
      left: 0 !important;
      margin: 0;
      opacity: 1;
      position: fixed;
      right: auto;
      top: auto;
      transform: translateY(100%);
      transition: transform 0.3s ease;
      width: 100%;

      &.is-active {
        transform: translateY(0);
      }

      .littlefoot-footnote__wrapper {
        margin: 0;
        max-width: 100% !important;
        transform: none;
        width: 100%;
      }

      .littlefoot-footnote__wrapper,
      .littlefoot-footnote__content {
        border-radius: 0;
      }

      .littlefoot-footnote__tooltip {
        display: none;
      }
    }
  }
}

// Wraps around the footnote content. This is necessary in order to have an element
// above the tooltip and that can provide top and bottom indicators that there is
// additional content on scrollable popovers.

.littlefoot-footnote__wrapper {
  background-color: $popover-color-background;
  border-radius: $popover-border-radius;
  box-sizing: inherit;
  display: inline-block;
  line-height: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: $popover-width;
  z-index: (
    $popover-z-index + 4
  ); // Above the outer tooltip, below the inner tooltip
}

// Contains the actual footnote content. There is very little prescription here
// on the footnote content itself, except for removing and top margin on the first
// element and bottom margin on the last child.

.littlefoot-footnote__content {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-overflow-scrolling: touch;
  background: $popover-content-color-background;
  border-radius: $popover-content-border-radius;
  box-sizing: inherit;
  display: inline-block;
  line-height: normal;
  font-size: initial;
  font-style: initial;
  font-weight: initial;
  max-height: $popover-max-height;
  overflow: auto;
  padding: $popover-padding-content-top $popover-padding-content-horizontal
    $popover-padding-content-bottom;
  position: relative;
  z-index: ($popover-z-index - 2); // Below fading bars

  img {
    max-width: 100%;
  }

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  .is-scrollable & {
    padding-bottom: 0;

    *:last-child {
      margin-bottom: $popover-padding-content-bottom;
    }
  }
}

// A triangular shape pointing towards the footnote button.

.littlefoot-footnote__tooltip {
  background: $popover-tooltip-background;
  border-top-left-radius: $popover-tooltip-radius;
  border: $popover-border;
  box-shadow: $popover-box-shadow;
  box-sizing: border-box;
  height: $popover-tooltip-size;
  margin-left: (-0.5 * $popover-tooltip-size);
  position: absolute;
  transform: rotate(45deg);
  width: $popover-tooltip-size; // Smaller by one border-width's worth
  z-index: (
    $popover-z-index + 2
  ); // Above the footnote-main-wrapper and the outer tooltip

  .is-positioned-bottom & {
    top: (-0.5 * $popover-tooltip-size);
  }

  .is-positioned-top & {
    bottom: (-0.5 * $popover-tooltip-size);
  }
}
