{{- define "main" -}}

{{/* Author profile page. */}}

{{/* If an account has not been created for this user, just display their name as the title. */}}
{{ if not .File }}
<div class="universal-wrapper pt-3">
  <h1>{{ .Title }}</h1>
</div>
{{ end }}

<section id="profile-page" class="home-section">  
  <div class="container">

    {{/* Breadcrumbs. */}}

    <nav aria-label="breadcrumb">
	    <ol class="breadcrumb breadcrumb-widget">
        {{ if eq .Site.Language.Lang "es" }}      
	    	  <li class="breadcrumb-item"><a href="/"><img draggable="false" class="icon" alt="logo" src="/icon/logo-fisiquimicamente.svg" id="fisiquimicamente-breadcrumb"><script>
            document.addEventListener('wcThemeChange', (e) => {
              // console.log('isDarkTheme? ' + e.detail.isDarkTheme());
              if (e.detail.isDarkTheme()) {
              document.getElementById("fisiquimicamente-breadcrumb").src="/icon/logo-fisiquimicamente-dark.svg";
              } else {
              document.getElementById("fisiquimicamente-breadcrumb").src="/icon/logo-fisiquimicamente.svg";
              }
              });
          </script></a></li>
        {{ else if eq .Site.Language.Lang "en" }}
          <li class="breadcrumb-item"><a href="/"><img draggable="false" class="icon" alt="logo" src="/icon/logo-physichemically.svg" id="physichemically-breadcrumb"><script>
            document.addEventListener('wcThemeChange', (e) => {
              // console.log('isDarkTheme? ' + e.detail.isDarkTheme());
              if (e.detail.isDarkTheme()) {
              document.getElementById("physichemically-breadcrumb").src="/icon/logo-physichemically-dark.svg";
              } else {
              document.getElementById("physichemically-breadcrumb").src="/icon/logo-physichemically.svg";
              }
              });
          </script></a></li>
        {{ else if eq .Site.Language.Lang "ca" }}
          <li class="breadcrumb-item"><a href="/"><img draggable="false" class="icon" alt="logo" src="/icon/logo-fisiquimicament.svg" id="fisiquimicament-breadcrumb"><script>
            document.addEventListener('wcThemeChange', (e) => {
              // console.log('isDarkTheme? ' + e.detail.isDarkTheme());
              if (e.detail.isDarkTheme()) {
              document.getElementById("fisiquimicament-breadcrumb").src="/icon/logo-fisiquimicament-dark.svg";
              } else {
              document.getElementById("fisiquimicament-breadcrumb").src="/icon/logo-fisiquimicament.svg";
              }
              });
          </script></a></li>
        {{ end }}
        {{ if eq .Site.Language.Lang "es" }}
      	  <li class="breadcrumb-item"><a href="/equipo">👥 Equipo</a></li>
        {{ else if eq .Site.Language.Lang "en" }}
          <li class="breadcrumb-item"><a href="/team">👥 Team</a></li>
        {{ else if eq .Site.Language.Lang "ca" }}
          <li class="breadcrumb-item"><a href="/equip">👥 Equip</a></li>
        {{ end }}
	        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>			
	    </ol>
		</nav>

    {{/* Show the About widget if an account exists for this user. */}}
    {{ if .File }}
      {{ $widget := "blocks/about.html" }}
      {{ $username := (path.Base .File.Dir) }}{{/* Alternatively, use `index .Params.authors 0` */}}
      {{ $params := dict "wcPage" $ "wcBlock" . "author" $username }}
      {{ partial $widget $params }}
    {{end}}

    {{ $query := where .Pages ".IsNode" false }}
    {{ range .Translations }}
      {{ $query = $query | lang.Merge .Pages }}
    {{ end }}
    {{ $count := len $query }}
    {{ if $count }}
    <div class="article-widget content-widget-hr">
      <h3>{{ i18n "user_profile_latest" | default "Latest" }}</h3>
      <ul style="list-style-type: none; padding-left: 0;">
        {{ range $query }}
        <li>
        {{ $sec := substr .Section 0 4 }}
        {{ if eq $sec "apun" }}
        <a href="{{ .Permalink }}">📚 {{ .Title }}</a>
        {{ else if eq $sec "acti" }}
        <a href="{{ .Permalink }}">🧩 {{ .Title }}</a>        
        {{ else if eq $sec "EBAU" }}
        <a href="{{ .Permalink }}">🎓 {{ .Title }}</a>
        {{ else if eq $sec "opos" }}
        <a href="{{ .Permalink }}">📝 {{ .Title }}</a>
        {{ else if eq $sec "oper" }}
        <a href="{{ .Permalink }}">☢️ {{ .Title }}</a>
        {{ else if eq $sec "tuto" }}
        <a href="{{ .Permalink }}">🤝 {{ .Title }}</a>
        {{ else if eq $sec "enla" }}
        <a href="{{ .Permalink }}">💻 {{ .Title }}</a>
        {{ else if eq $sec "post" }}
        <a href="{{ .Permalink }}">✍️ {{ .Title }}</a>
        {{ else }}
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}          
          <p class="search-hit-description">
            {{ .Summary | plainify | emojify }}
          </p>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>
</section>

{{- end -}}