<!DOCTYPE html>
{{- $language_code := site.LanguageCode | default "en-us" -}}
<html lang="{{$language_code}}" {{ if in site.Data.i18n.rtl.rtl $language_code }}dir="rtl"{{end}}>

{{ partial "site_head" . }}

{{ $show_navbar := site.Params.main_menu.enable | default true }}
{{- $highlight_active_link := site.Params.main_menu.highlight_active_link | default true -}}
<body id="top" data-spy="scroll" {{ if $show_navbar }}data-offset="70"{{end}} data-target="{{ if or .IsHome (eq .Type "widget_page") | and $highlight_active_link }}#navbar-main{{else}}#TableOfContents{{end}}" class="{{ if not (.Scratch.Get "light") }}dark{{end}} {{ if not $show_navbar }}no-navbar{{end}}">
	
  {{/* Load day/night theme. */}}
  {{/* Initialise default theme. */}}
  {{ if site.Params.day_night }}
    <script>window.wcDarkLightEnabled = true;</script>
  {{ end }}  
  {{ if eq (.Scratch.Get "light") true }}
    <script>const isSiteThemeDark = false;</script>
  {{ else }}
    <script>const isSiteThemeDark = true;</script>
  {{ end }}
  {{ $load_theme := resources.Get "js/load-theme.js" }}
  <script src="{{ $load_theme.RelPermalink }}"></script>	

  {{ partial "search" . }}

  {{ partial "navbar" . }}
  
  <div id="tpbr_topbar" style="position: fixed; z-index: 99999; background: rgb(247, 198, 22); display: block;"><div id="tpbr_box" style="padding:6px 0px 7px; background:#43414e; margin:0 auto; text-align:center; width:100%; color:white; font-size:15px; font-family: ROBOTO regular;  font-weight:300;">Texto de la barra superior<a id="tpbr_calltoaction" style="background:#2cd4d9; display:inline-block; padding:2px 10px 2px; color:#43414e; text-decoration:none; margin: 0px 20px; border-radius:5px;" href="https://webdedestino.com/" target="_blank" rel="noopener">Texto del botón</a></div></div>  

  {{ block "main" . }}{{ end }}
  
	<div class="bottom-panel" id="bottom-panel">
	  <div class="popup-wrapper" id="popup-wrapper"></div>
	</div>

  {{ partial "site_js" . }}

  {{/* Docs and Updates layouts include the site footer in a different location. */}}
  {{ if not (in (slice "book" "docs" "updates") .Type) }}
  <div class="container">
    {{ partial "site_footer" . }}
  </div>
  {{ end }}

  {{ partial "citation" . }}
  
  {{ if eq .Site.Language.Lang "es" }}
  
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5f5a2e304704467e89edd2e6/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
  
  {{ else if eq .Site.Language.Lang "en" }}
  
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5f5a2e304704467e89edd2e6/1ehu890vj';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
    
  {{ end }}
  
  <script type="text/javascript">
    window.now4real = window.now4real || {};
    now4real.config = {
      widget: { color_1: '#2a54a9', color_2: '#fffff8', align: 'left' },
      scope: 'site'
    };
    (function () { var n4r = document.createElement('script'); n4r.type = 'text/javascript'; n4r.async = true; n4r.src = 'https://cdn.now4real.com/now4real.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(n4r, s); })();
  </script>

</body>
</html>
