/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fffff8;
  background-color: #fffff8; }

.reveal {
  font-family: "EB Garamond", serif;
  color: #111111; }

::selection {
  color: #fffff8;
  background: #2a54a9; }

::-moz-selection {
  color: #fffff8;
  background: #2a54a9; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: #111111;
  font-family: "Cabin Sketch", sans-serif; }

/*********************************************
 * OTHER
 *********************************************/
.reveal pre {
  font-family: "Inconsolata", monospace; }

.reveal code {
  font-family: "Inconsolata", monospace; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #2a54a9; }

.reveal a:hover {
  color: #2a54a9;
  text-decoration: underline; }

.reveal .roll span:after {
  color: #fffff8;
  background: #2a54a9; }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #2a54a9; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #2a76dd; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #fff; } }
