/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fffff8;
  background-color: #fffff8; }

.reveal {
  font-family: "EB Garamond", serif;
  color: #111111; }

::selection {
  color: #fffff8;
  background: #2a54a9; }

::-moz-selection {
  color: #fffff8;
  background: #2a54a9; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: #2a54a9;
  font-family: "Cabin Sketch", sans-serif; }

/*********************************************
 * OTHER
 *********************************************/
.reveal pre {
  font-family: "Inconsolata", monospace; }

.reveal code {
  font-family: "Inconsolata", monospace; }
  
.reveal table th,
.reveal table td {
border-bottom: 0px solid; }

.reveal table > thead {
  border-top: 2px solid #111111; }
  
.reveal table > thead > tr > th {
  border-bottom: 1px solid #111111; }  

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
border-bottom: 2px solid #111111; }

/* Table Striped */
.reveal table > tbody > tr:nth-child(odd) > td,
.reveal table > tbody > tr:nth-child(odd) > th {
background-color: #dddddd; }

/* Table Hover */
.reveal table > tbody > tr:hover > td,
.reveal table > tbody > tr:hover > th {
color: #fffff8;
background-color: #555555; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #2a54a9; }

.reveal a:hover {
  color: #2a54a9;
  text-decoration: underline; }

.reveal .roll span:after {
  color: #fffff8;
  background: #2a54a9; }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #2a54a9; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  color: #2a54a9; }