{{ if site.Params.newsletter.blogmail.newsletterId }}
<div class="blogmail border rounded container-fluid py-3 mt-2">
  <script type="application/json">
    {
      "newsletterId": "{{site.Params.newsletter.blogmail.newsletterId}}",
      "inputPlaceholder": "tu e-mail",
      "labelText": "Recibe una notificación por e-mail cuando haya una actualización.",
      "buttonText": "Suscríbete",
      "subscribedText": "¡Suscrito! 😀",
      "classes": {
        "a": "",
        "formDiv": "form-group container d-flex flex-wrap",
        "bottomDiv": "small gray-light container flex-wrap",
        "subscribedDiv": "",
        "label": "",
        "textInput": "rounded flex-grow-1 px-1",
        "submitInput": "btn btn-default border flex-wrap mx-1"
      },
	  "styles": {
		"bottomDiv": "display: none"
	  }
    }
  </script>
</div>
<script async src="https://blogmail.co/v1/bm.js"></script>
{{end}}