{{/* Lottie and TGS shortcode for Wowchemy. */}}
{{/* Load lottie/tgs from page dir falling back to media library at `assets/media/` and then to remote URI. */}}

{{ $destination := .Get "src" }}
{{ $is_remote := strings.HasPrefix $destination "http" }}
{{- $asset := "" -}}
{{- if not $is_remote -}}  
  {{- $asset = resources.Get (path.Join "media" $destination) -}}
{{- end -}}

{{ if $asset }}  
  {{ $destination = $asset.RelPermalink }}  
{{ else }}
  {{ $destination = $destination | safeURL }}  
{{ end }}

{{ $animation_type := strings.TrimPrefix "." (path.Ext $destination) | lower }}

{{ $display := .Get "display" | default "block" | safeCSS }}

{{ if eq $animation_type "json" }}
  <lottie-player autoplay loop mode="normal" src="{{ $destination }}" style="width: {{ .Get "width" }}; height:auto; display: {{ $display }}"></lottie-player>
{{ else if eq $animation_type "tgs" }}  
  <tgs-player autoplay loop mode="normal" src="{{ $destination }}" style="width: {{ .Get "width" }}; height:auto; display: {{ $display }}"></tgs-player>
{{ end }}