{{ with .Parent }}
  {{ partial "breadcrumb_helper" . }}
  <li class="breadcrumb-item">
    <a href="{{ .RelPermalink }}">
      {{ if .IsHome }}
      {{ if eq .Site.Language.Lang "es" }}
        <img draggable="false" class="icon" alt="logo" src="/icon/logo-fisiquimicamente.svg">
      {{ else if eq .Site.Language.Lang "en" }}
        <img draggable="false" class="icon" alt="logo" src="/icon/logo-physichemically.svg">
      {{ else if eq .Site.Language.Lang "ca" }}
        <img draggable="false" class="icon" alt="logo" src="/icon/logo-fisiquimicament.svg">        
      {{ end }}  
      {{ else }}
        {{ .LinkTitle | emojify }}
      {{ end }}
    </a>
  </li>
{{ end }}