<meta name="format-detection" content="telephone=no">

<!-- Preload FontAwesome fonts in use for even faster loading -->
<link rel="preload" href="{{ "/webfonts/fa-solid-900.woff2" | relURL }}" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="{{ "/webfonts/fa-brands-400.woff2" | relURL }}" as="font" type="font/woff2" crossorigin="anonymous">

{{ if eq .Site.Language.Lang "es" }}
  <script async src="https://arc.io/widget.min.js#RqUKm4UN"></script>
{{ else if eq .Site.Language.Lang "en" }}
  <script async src="https://arc.io/widget.min.js#qgr6E4gp"></script>
{{ else if eq .Site.Language.Lang "ca" }}
  <script async src="https://arc.io/widget.min.js#VdvpzK5Z"></script>
{{ end }}

<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
{{ if eq .Site.Language.Lang "es" }}
<script>
  window.OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "2098b81f-0f35-4b6f-bd4e-591c8dade2a8",
    });
  });
</script>
{{ else if eq .Site.Language.Lang "en" }}
<script>
  window.OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "a585b8b5-fdaa-4962-98a7-27a929422768",
    });
  });
</script>
{{ else if eq .Site.Language.Lang "ca" }}
<script>
  window.OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "6575c239-db33-4df4-86c9-ed8ec3090ec2",
    });
  });
</script>
{{ end }}

<!-- <script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
  new Crate({
    server: '755936234387275888', // FisiQuímicamente / PhysiChemically / FisiQuímicament
    channel: '867884870092718110', // #bienvenida    
    color: '#2a54a9',
    // location: ['bottom','right'],
    glyph: ['/icon/comments-solid.svg','60%'],
    // css: '.css-yhtcgr {z-index: 999997; height: 60px; border-top-left-radius: 60px; border-top-right-radius: 60px; border-bottom-left-radius: 60px; border-bottom-right-radius: 60px} @media (max-width: 500px) { .css-yhtcgr {left: 20px; bottom: 20px} } .css-isk7hg {width: 60px}'
  })
</script> -->