<meta name="format-detection" content="telephone=no">

<script type="text/javascript" src="//coronabnr-53eb.kxcdn.com/coronabar.min.js" async></script>

<script type="text/javascript">
    var CoronaBarOptions = {
        "position": "bottom", // string, top/bottom
	"textHeadline": "Difunde el mensaje. Detén el virus.", // string
        "displayCases": true, // bool
        "textConfirmed": "Confirmados", // string
        "textRecovered": "Recuperados", // string
        "textStepOneTitle": "Manos", // string
        "textStepTwoTitle": "Codo", // string
        "textStepThreeTitle": "Cara", // string
        "textStepFourTitle": "Distancia", // string
        "textStepFiveTitle": "Casa", // string
        "textStepOneDesc": "Lávalas a menudo", // string
        "textStepTwoDesc": "Tose en él", // string
        "textStepThreeDesc": "No tocar", // string
        "textStepFourDesc": "Evita las multitudes", // string
        "textStepFiveDesc": "Quédate dentro" // string
    };
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses'],
          ['2004',  1000,      400],
          ['2005',  1170,      460],
          ['2006',  660,       1120],
          ['2007',  1030,      540]
        ]);

        var options = {
          title: 'Company Performance',
          curveType: 'function',
          legend: { position: 'right' },
   		  backgroundColor: { fill:'transparent' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>