{{ $page := . }}
{{ $featured := (.Resources.ByType "image").GetMatch "*featured*" }}
{{ $anchor := $page.Params.image.focal_point | default "Smart" }}

{{/* Set default titles for node pages */}}
{{ $title := .Title }}
{{ if and (not $title) .IsNode }}
  {{ if eq .Type "post" }}
    {{ $title = i18n "posts" }}
  {{ else if eq .Type "event" }}
    {{ $title = i18n "talks" }}
  {{ else if eq .Type "publication" }}
    {{ $title = i18n "publications" }}
  {{end}}
{{end}}

{{/* Header image */}}
{{ if and .Params.header.image (not (and $featured (not .Params.image.preview_only))) }}
<div class="article-header">
  {{- $img := "" -}}
  {{ $alt := (.Params.header.caption | default "") | plainify }}
  {{ $destination := .Params.header.image }}
  {{ $is_remote := strings.HasPrefix $destination "http" }}
  {{- if not $is_remote -}}
    {{- $img = (.Page.Resources.ByType "image").GetMatch $destination -}}
    {{- if not $img -}}
      {{- $img = resources.Get (path.Join "media" $destination) -}}
    {{- end -}}
  {{- end -}}
  {{ if $img }}
    <img src="{{$img.RelPermalink}}" class="article-banner" alt="{{$alt}}">
  {{ else }}
    <img src="{{ .Params.header.image }}" class="article-banner" alt="{{$alt}}">
  {{ end }}

  {{ with .Params.header.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }}
</div>
{{end}}

{{/* Featured image layout */}}
{{ if and $featured (not .Params.image.preview_only) }}

{{/* Fit image within max size. */}}
{{ $image := $featured }}

{{/* Determine image placement. */}}
{{ $placement := .Params.image.placement | default 1 }}{{/* Default to full column width. */}}
{{ $image_container := "" }}
{{ if eq $placement 2}}
  {{ $image_container = "container" }}
  {{ if gt $featured.Width 1200 }}
    {{ $image = $featured.Resize "1200x" }}
  {{ end }}
{{else if eq $placement 3}}
  {{ $image_container = "container-fluid" }}
  {{ $image := $featured.Fit "2560x2560" }}
{{else}}
  {{ $image_container = "article-container" }}
  {{ if gt $featured.Width 720 }}
    {{ $image = $featured.Resize "720x" }}
  {{ end }}
{{end}}

<div class="article-container pt-3">
  
  {{ with $page.Params.breadcrumbs }}
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
  {{ if eq site.Language.Lang "es" }}
  	<li class="breadcrumb-item"><a href="/"><img draggable="false" class="icon" alt="logo" src="/icon/logo-fisiquimicamente.svg"></a></li>
	{{ else if eq site.Language.Lang "en" }}
  	<li class="breadcrumb-item"><a href="/"><img draggable="false" class="icon" alt="logo" src="/icon/logo-physichemically.svg"></a></li>
  {{ else if eq site.Language.Lang "ca" }}
  	<li class="breadcrumb-item"><a href="/"><img draggable="false" class="icon" alt="logo" src="/icon/logo-fisiquimicament.svg"></a></li>
  {{ end }}
    {{ range $page.Params.breadcrumbs }}
    {{ if and (eq . "recursos-fisica-quimica") (eq site.Language.Lang "es") }}
    <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/">⚛️ Recursos FyQ</a></li>
    {{ else if and (eq . "recursos-fisica-quimica") (eq site.Language.Lang "ca") }}
    <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/">⚛️ Recursos FiQ</a></li>
    {{else if eq . "apuntes"}}
    <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/apuntes/">📚 Apuntes</a></li>
    {{else if eq . "notes"}}
    <li class="breadcrumb-item"><a href="/physics-chemistry-notes/">📚 Notes</a></li>
    {{else if eq . "apunts"}}
    <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/apunts/">📚 Apunts</a></li>
    {{else if eq . "actividades-2eso"}}
    <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/actividades/">🗒️ Actividades</a></li>
    <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/actividades/2eso">📗 2.º ESO</a></li>
    {{else if eq . "actividades-3eso"}}
    <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/actividades/">🗒️ Actividades</a></li>
    <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/actividades/3eso">📘 3.º ESO</a></li>
    {{else if eq . "actividades-4eso"}}
    <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/actividades/">🗒️ Actividades</a></li>
    <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/actividades/4eso">📙 4.º ESO</a></li>
    {{else if eq . "actividades-1bach"}}
    <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/actividades/">🗒️ Actividades</a></li>
    <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/actividades/1bach">📕 1.º Bach</a></li>
    {{else if eq . "actividades-2bach-fisica"}}
    <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/actividades/">🗒️ Actividades</a></li>
    <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/actividades/2bach">📓 2.º Bach</a></li>
    <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/actividades/2bach/fisica">☢️ Física</a></li>
    {{else if eq . "actividades-2bach-quimica"}}
    <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/actividades/">🗒️ Actividades</a></li>
    <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/actividades/2bach">📓 2.º Bach</a></li>
    <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/actividades/2bach/quimica">⚗️ Química</a></li>
    {{else if eq . "actividades-formulacion-nomenclatura-quimica-inorganica"}}
    <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/actividades/">🗒️ Actividades</a></li>
  	<li class="breadcrumb-item"><a href="/recursos-fisica-quimica/actividades/formulacion-nomenclatura-quimica">📔 Formulación y nomenclatura de Química</a></li>
    <li class="breadcrumb-item active" aria-current="page">Inorgánica</li>
    {{else if eq . "actividades-formulacion-nomenclatura-quimica-organica"}}
    <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/actividades/">🗒️ Actividades</a></li>
  	<li class="breadcrumb-item"><a href="/recursos-fisica-quimica/actividades/formulacion-nomenclatura-quimica">📔 Formulación y nomenclatura de Química</a></li>
    <li class="breadcrumb-item active" aria-current="page">Orgánica</li>
    {{else if eq . "2eso"}}
  	<li class="breadcrumb-item"><a href="/recursos-fisica-quimica/apuntes/2eso">📗 2.º ESO</a></li>
    {{else if eq . "13-14-year-olds"}}
  	<li class="breadcrumb-item"><a href="/physics-chemistry-notes/13-14-year-olds">📗 13&ndash;14 year-olds</a></li>
    {{else if eq . "2neso"}}
  	<li class="breadcrumb-item"><a href="/recursos-fisica-quimica/apunts/2eso">📗 2n ESO</a></li>
    {{else if eq . "3eso"}}
  	<li class="breadcrumb-item"><a href="/recursos-fisica-quimica/apuntes/3eso">📘 3.º ESO</a></li>
    {{else if eq . "14-15-year-olds"}}
  	<li class="breadcrumb-item"><a href="/physics-chemistry-notes/14-15-year-olds">📘 14&ndash;15 year-olds</a></li>
    {{else if eq . "3reso"}}
  	<li class="breadcrumb-item"><a href="/recursos-fisica-quimica/apunts/3eso">📘 3r ESO</a></li>
    {{else if eq . "2eso-3eso"}}
  	<li class="breadcrumb-item"><a href="/recursos-fisica-quimica/apuntes/2eso">📗 2.º ESO</a> · <a href="/recursos-fisica-quimica/apuntes/3eso">📘 3.º ESO</a></li>	
    {{else if eq . "13-15-year-olds"}}
  	<li class="breadcrumb-item"><a href="/physics-chemistry-notes/13-14-year-olds">📗 13&ndash;14 year-olds</a> · <a href="/physics-chemistry-notes/14-15-year-olds">📘 14&ndash;15 year-olds</a></li>
    {{else if eq . "2neso-3reso"}}
  	<li class="breadcrumb-item"><a href="/recursos-fisica-quimica/apunts/2eso">📗 2n ESO</a> · <a href="/recursos-fisica-quimica/apunts/3eso">📘 3r ESO</a></li>
    {{else if eq . "4eso"}}
  	<li class="breadcrumb-item"><a href="/recursos-fisica-quimica/apuntes/4eso">📙 4.º ESO</a></li>
    {{else if eq . "15-16-year-olds"}}
  	<li class="breadcrumb-item"><a href="/physics-chemistry-notes/15-16-year-olds">📙 15&ndash;16 year-olds</a></li>	
    {{else if eq . "4teso"}}
  	<li class="breadcrumb-item"><a href="/recursos-fisica-quimica/apunts/4eso">📙 4t ESO</a></li>	
    {{else if eq . "1bach"}}
  	<li class="breadcrumb-item"><a href="/recursos-fisica-quimica/apuntes/1bach">📕 1.º Bach</a></li>
    {{else if eq . "16-17-year-olds"}}
  	<li class="breadcrumb-item"><a href="/physics-chemistry-notes/16-17-year-olds">📕 16&ndash;17 year-olds</a></li>	
    {{else if eq . "1batx"}}
  	<li class="breadcrumb-item"><a href="/recursos-fisica-quimica/apunts/1batx">📕 1r Batx</a></li>
    {{else if eq . "2bach"}}
  	<li class="breadcrumb-item"><a href="/recursos-fisica-quimica/apuntes/2bach">📓 2.º Bach</a></li>
    {{else if eq . "17-18-year-olds"}}
  	<li class="breadcrumb-item"><a href="/physics-chemistry-notes/17-18-year-olds">📓 17&ndash;18 year-olds</a></li>
    {{else if eq . "2batx"}}
  	<li class="breadcrumb-item"><a href="/recursos-fisica-quimica/apunts/2batx">📓 2n Batx</a></li>
    {{ else if and (eq . "fisica") (eq site.Language.Lang "es") }}
  	<li class="breadcrumb-item"><a href="/recursos-fisica-quimica/apuntes/2bach/fisica">☢️ Física</a></li>
    {{else if eq . "physics"}}
    <li class="breadcrumb-item"><a href="/physics-chemistry-notes/17-18-year-olds/physics">☢️ Physics</a></li>
    {{ else if and (eq . "fisica") (eq site.Language.Lang "ca") }}
    <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/apunts/2batx/fisica">☢️ Física</a></li>
    {{ else if and (eq . "quimica") (eq site.Language.Lang "es") }}
  	<li class="breadcrumb-item"><a href="/recursos-fisica-quimica/apuntes/2bach/quimica">⚗️ Química</a></li>
    {{else if eq . "chemistry"}}
  	<li class="breadcrumb-item"><a href="/physics-chemistry-notes/17-18-year-olds/chemistry">⚗️ Chemistry</a></li>
    {{ else if and (eq . "quimica") (eq site.Language.Lang "ca") }}
  	<li class="breadcrumb-item"><a href="/recursos-fisica-quimica/apunts/2batx/quimica">⚗️ Química</a></li>	
    {{else if eq . "formulacion-nomenclatura-quimica"}}
  	<li class="breadcrumb-item"><a href="/recursos-fisica-quimica/apuntes/formulacion-nomenclatura-quimica">📔 Formulación y nomenclatura de Química</a></li>
    {{else if eq . "nomenclature-chemistry"}}
  	<li class="breadcrumb-item"><a href="/physics-chemistry-notes/nomenclature-chemistry">📔 Nomenclature of Chemistry</a></li>
    {{else if eq . "formulacio-nomenclatura-quimica"}}
  	<li class="breadcrumb-item"><a href="/recursos-fisica-quimica/apunts/formulacio-nomenclatura-quimica">📔 Formulació i nomenclatura de Química</a></li>
    {{else if eq . "blog"}}
  	<li class="breadcrumb-item"><a href="/blog/">✍🏼 Blog</a></li>	  
    {{ end }}
    {{ end }}
	{{ if eq $title "Formulación y nomenclatura de Química Inorgánica"}}
      <li class="breadcrumb-item active" aria-current="page">Inorgánica</li>
	{{ else if eq $title "Nomenclature of Inorganic Chemistry"}}
      <li class="breadcrumb-item active" aria-current="page">Inorganic</li>
  {{ else if eq $title "Formulació i nomenclatura de Química Inorgànica"}}
      <li class="breadcrumb-item active" aria-current="page">Inorgànica</li>      	
	{{ else if eq $title "Formulación y nomenclatura de Química Orgánica"}}
      <li class="breadcrumb-item active" aria-current="page">Orgánica</li>
	{{ else if eq $title "Nomenclature of Organic Chemistry"}}
      <li class="breadcrumb-item active" aria-current="page">Organic</li>	  
  {{ else if eq $title "Formulació i nomenclatura de Química Orgànica"}}
      <li class="breadcrumb-item active" aria-current="page">Orgànica</li>      
	{{ else }}		
      <li class="breadcrumb-item active" aria-current="page">{{ $title }}</li>
	{{ end }}
  </ol>
  </nav>
  {{ end }}
	
  <h1>{{ $title }}</h1>

  {{ with $page.Params.subtitle }}
  <p class="page-subtitle">{{ . | markdownify | emojify }}</p>
  {{end}}

  {{ partial "page_metadata" (dict "page" $page "is_list" 0 "share" true) }}
  {{ partial "page_links_div.html" $page }}
</div>

{{/* Featured image */}}
<div class="article-header {{$image_container}} featured-image-wrapper mt-4 mb-4" style="max-width: {{$image.Width}}px; max-height: {{$image.Height}}px;">
  <div style="position: relative">
    <img src="{{ $image.RelPermalink }}" alt="{{ with $.Params.image.alt_text }}{{.}}{{ end }}" class="featured-image">
    {{ with $.Params.image.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }}
  </div>
</div>
{{else}}
  {{/* Case when page has no image */}}

  {{/* Wider container for nodes */}}
  {{ $ctnr := "article-container" }}
  {{ if $page.IsNode }}
    {{ $ctnr = "universal-wrapper" }}
  {{end}}
<div class="{{$ctnr}} pt-3">

  {{- $catalunya_flag := resources.Get ("media/icons/flag-catalonia.svg") -}}

	{{- $illes_balears_flag := resources.Get ("media/icons/flag-balearic-islands.svg") -}}

  {{ with $page.Params.breadcrumbs }}
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {{ if eq site.Language.Lang "es" }}
  	  <li class="breadcrumb-item"><a href="/"><img draggable="false" class="icon" alt="logo" src="/icon/logo-fisiquimicamente.svg"></a></li>
	  {{ else if eq site.Language.Lang "en" }}
  	  <li class="breadcrumb-item"><a href="/"><img draggable="false" class="icon" alt="logo" src="/icon/logo-physichemically.svg"></a></li>
    {{ else if eq site.Language.Lang "ca" }}
      <li class="breadcrumb-item"><a href="/"><img draggable="false" class="icon" alt="logo" src="/icon/logo-fisiquimicament.svg"></a></li>
    {{ end }}
    {{ range $page.Params.breadcrumbs }}
    {{ if eq . "recursos-fisica-quimica" }}
      {{ if eq site.Language.Lang "es" }}
        <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/">⚛️ Recursos FyQ</a></li>
      {{ else if eq site.Language.Lang "ca" }}
        <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/">⚛️ Recursos FiQ</a></li>
      {{ end }}
    {{ else if eq . "ebau-fisica-examenes-completos" }}
      <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/ebau">🎓 EBAU</a></li>
      <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/ebau/fisica">☢️ Física</a></li>
      <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/ebau/fisica/examenes-completos">📝 Exámenes completos</a></li>  
    {{ else if eq . "ebau-fisica-por-temas" }}
      <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/ebau">🎓 EBAU</a></li>
      <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/ebau/fisica">☢️ Física</a></li>
      <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/ebau/fisica/por-temas">🗂️ Por temas</a></li>
    {{ else if eq . "ebau-quimica-examenes-completos" }}
      <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/ebau">🎓 EBAU</a></li>
      <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/ebau/quimica">⚗️ Química</a></li>
      <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/ebau/quimica/examenes-completos">📝 Exámenes completos</a></li>       
    {{ else if eq . "ebau-quimica-por-temas" }}
      <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/ebau">🎓 EBAU</a></li>
      <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/ebau/quimica">⚗️ Química</a></li>
      <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/ebau/quimica/por-temas">🗂️ Por temas</a></li>
    {{ else if eq . "pau-fisica" }}    
      <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/pau-pbau/">🎓 PAU/PBAU</a></li>
      <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/pau-pbau/catalunya"><img draggable="false" class="icon" alt="catalunya" src="{{ $catalunya_flag.RelPermalink }}"> Catalunya</a></li>
      <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/pau-pbau/catalunya/fisica">☢️ Física</a></li> 
    {{ else if eq . "pau-quimica" }}    
      <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/pau-pbau/">🎓 PAU/PBAU</a></li>
      <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/pau-pbau/catalunya"><img draggable="false" class="icon" alt="catalunya" src="{{ $catalunya_flag.RelPermalink }}"> Catalunya</a></li>
      <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/pau-pbau/catalunya/quimica">⚗️ Química</a></li>            
    {{ else if eq . "pbau-fisica" }}    
      <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/pau-pbau/">🎓 PAU/PBAU</a></li>
      <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/pau-pbau/illes-balears"><img draggable="false" class="icon" alt="illes balears" src="{{ $illes_balears_flag.RelPermalink }}"> Illes Balears</a></li>
      <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/pau-pbau/illes-balears/fisica">☢️ Física</a></li>
    {{ else if eq . "oposiciones" }}
      <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/oposiciones">📝 Oposiciones</a></li>
    {{ else if eq . "fisica" }}
      <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/oposiciones/fisica">☢️ Física</a></li>                
    {{ else if eq . "quimica" }}
      <li class="breadcrumb-item"><a href="/recursos-fisica-quimica/oposiciones/quimica">⚗️ Química</a></li> 
    {{else if eq . "blog"}}
  	  <li class="breadcrumb-item"><a href="/blog/">✍🏼 Blog</a></li>	       
    {{ end }}
    {{ end }}
    <li class="breadcrumb-item active" aria-current="page">{{ $title }}</li>
  </ol>
  </nav>
  {{ end }}

  <h1>{{ $title }}</h1>

  {{ with $page.Params.subtitle }}
  <p class="page-subtitle">{{ . | markdownify | emojify }}</p>
  {{end}}

  {{ if not .IsNode }}
    {{ partial "page_metadata" (dict "page" $page "is_list" 0 "share" true) }}
    {{ partial "page_links_div.html" $page }}
  {{end}}
</div>
{{end}}