{{/* This makes `show_related` optional in `params.toml` and prevents errors if it's removed. */}}
{{ if site.Params.show_related }}
{{ if (index site.Params.show_related .Type) | and (ne .Params.show_related false) | or .Params.show_related }}
  {{ $related := site.RegularPages.Related . | first 5 }}
  {{ with $related }}
  <div class="article-widget content-widget-hr">
    <h3>{{ i18n "related" }}</h3>
    <ul style="list-style-type: none; padding-left: 0;">
      {{ range . }}
	    {{ $link := .RelPermalink }}
	    {{ $target := "" }}
	    {{ with .Params.external_link }}
	    {{ $link = . }}
	    {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
	    {{ end }}
      <li>
        {{ $sec := substr .Section 0 4 }}
        {{ if eq $sec "apun" }}
        <a href="{{$link}}" {{ $target | safeHTMLAttr }}>📚 {{ .Title }}</a>
        {{ else if eq $sec "acti" }}
        <a href="{{$link}}" {{ $target | safeHTMLAttr }}>🗒️ {{ .Title }}</a>
        {{ else if eq $sec "jueg" }}
        <a href="{{$link}}" {{ $target | safeHTMLAttr }}>🧩 {{ .Title }}</a>        
        {{ else if eq $sec "EBAU" }}
        <a href="{{$link}}" {{ $target | safeHTMLAttr }}>🎓 {{ .Title }}</a>
        {{ else if eq $sec "opos" }}
        <a href="{{$link}}" {{ $target | safeHTMLAttr }}>📝 {{ .Title }}</a>
        {{ else if eq $sec "oper" }}
        <a href="{{$link}}" {{ $target | safeHTMLAttr }}>☢️ {{ .Title }}</a>        
        {{ else if eq $sec "tuto" }}
        <a href="{{$link}}" {{ $target | safeHTMLAttr }}>👐🏼 {{ .Title }}</a>
        {{ else if eq $sec "enla" }}
        <a href="{{$link}}" {{ $target | safeHTMLAttr }}>💻 {{ .Title }}</a>
        {{ else if eq $sec "post" }}
        <a href="{{$link}}" {{ $target | safeHTMLAttr }}>✍🏼 {{ .Title }}</a>
        {{ else }}
        <a href="{{$link}}" {{ $target | safeHTMLAttr }}>{{ .Title }}</a>
        {{ end }}
        <p class="search-hit-description">
          {{ .Summary | plainify | emojify }}
        </p>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
{{ end }}
{{ end }}