{{ if and site.Params.sharing (ne .Params.share false) }}
<div class="subscribe-box" aria-hidden="true">
	<center>
		<h3 style="color: #555;">
			{{ if eq .Site.Language.Lang "es" }}
			¿Te ha gustado?
			{{ else if eq .Site.Language.Lang "en" }}
			Did you like it?
			{{ end }}
		</h3>
	</center>
  <ul class="subscribe">
	  <li><applause-button style="width: 38px; height: 38px;" url="{{ $.Permalink }}" /></li>
  </ul>
  	  <p class="kudos">
		  {{ if eq .Site.Language.Lang "es" }}
			  Hay <em>likes</em> y luego hay 👏 <em><strong>kudos</strong></em>. Esta palabra, proveniente del griego κῦδος, significa <em>fama</em>, <em>gloria</em> o <em>prestigio</em>. Dándome kudos estás reconociendo y alabando mi esfuerzo, animándome a seguir trabajando.			 
		  {{ else if eq .Site.Language.Lang "en" }}
  			  There are <em>likes</em> and then there are 👏 <em><strong>kudos</strong></em>. This word, from the Greek κῦδος, means <em>fame</em>, <em>glory</em> or <em>prestige</em>. By giving me kudos you are acknowledging and praising my effort, encouraging me to continue preparing quality materials.<br>			  
		{{ end }}				  
	  </p>
</div>

<div class="share-box" aria-hidden="true">
	<center>
		<h3 style="color: #555;">
			{{ if eq .Site.Language.Lang "es" }}
			Compártelo
			{{ else if eq .Site.Language.Lang "en" }}
			Share it
			{{ end }}
		</h3>
	</center>	
  <ul class="share">
	  <script src="https://apis.google.com/js/platform.js" async defer></script>
	  <li><g:sharetoclassroom url="{{ $.Permalink }}" size="30" theme="dark"></g:sharetoclassroom></li>
    {{ range where site.Data.page_sharer.buttons "enable" true }}
      {{ $pack := or .icon_pack "fas" }}
      {{ $pack_prefix := $pack }}
      {{ if in (slice "fab" "fas" "far" "fal") $pack }}
        {{ $pack_prefix = "fa" }}
      {{ end }}
      {{ $link := replace .url "{url}" ($.Permalink | htmlEscape) }}
      {{ $link = replace $link "{title}" ($.Title | htmlEscape) }}
      <li>
        <a href="{{$link|safeURL}}" target="_blank" rel="noopener" class="share-btn-{{.id}}">
          <i class="{{$pack}} {{$pack_prefix}}-{{.icon}}"></i>
        </a>
      </li>
    {{ end }}
  </ul>  	  
</div>

<div class="subscribe-box" aria-hidden="true">
	<center>
		<h3 style="color: #555;">
			{{ if eq .Site.Language.Lang "es" }}
			Suscríbete
			{{ else if eq .Site.Language.Lang "en" }}
			Subscribe
			{{ end }}
		</h3>
	</center>
	<ul class=subscribe>
		{{ if eq .Site.Language.Lang "es" }}
		<li>
	        <a href="https://t.me/fisiquimicamente" target="_blank" rel="noopener">
				<i class="fab fa-telegram"></i>
			</a>
		</li>
		{{ end }}				
		<li>
	        <a href="{{ "/index.xml" | absLangURL }}" target="_blank" rel="noopener">
				<i class="fas fa-rss"></i>
			</a>
		</li>
	</ul>
	  <p class="kudos">
	  {{ if eq .Site.Language.Lang "es" }}
		  Si no quieres perderte ninguna <strong>actualización</strong> considera suscribirte al canal de Telegram <i class="fab fa-telegram mr-1"></i> o RSS <i class="fas fa-rss"></i>.
	  {{ else if eq .Site.Language.Lang "en" }}
		If you don't want to miss any <strong>updates</strong> consider subscribing to the RSS channel <i class="fas fa-rss"></i>.
	{{ end }}				  
  </p>
</div>

{{ if eq .Site.Language.Lang "es" }}

<div class="subscribe-box" aria-hidden="true">
	<center>
		<h3 style="color: #555;">
			Únete al servidor de Discord
		</h3>
		<iframe src="https://discordapp.com/widget?id=755936234387275888&theme=dark" width="100%" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
	  	  <p class="kudos">
	  		  <strong>Participa</strong> activamente en la web comentando, dando tu opinión, realizando peticiones, sugerencias...
	    </p>
	</center>
	<ul class=subscribe>
		<li>
	        <a href="https://discord.gg/kJqPqTJ" target="_blank" rel="noopener">
				<i class="fab fa-discord"></i>
			</a>
		</li>		
	</ul>
  	  
</div>

{{ end }}

{{ end }}
