{{ if and site.Params.sharing (ne .Params.share false) }}
<div class="subscribe-box" aria-hidden="true">
	<center>
		<h2 style="color: #555;">
			{{ if eq .Site.Language.Lang "es" }}
			¿Te ha gustado?
			{{ else if eq .Site.Language.Lang "en" }}
			Did you like it?
			{{ end }}
		</h2>
	</center>
  <ul class="subscribe">
	  <li><applause-button style="width: 60px; height: 60px;" url="{{ $.Permalink }}" /></li>	  
  </ul>
  	  <p class="kudos">
		  {{ if eq .Site.Language.Lang "es" }}
			  Hay <em>likes</em> y luego hay 👏 <em>kudos</em>. Esta palabra, proveniente del griego κῦδος, significa <em>fama</em>, <em>gloria</em> o <em>prestigio</em>. Dándome kudos estás reconociendo y alabando mi esfuerzo, animándome a seguir trabajando.			 
		  {{ else if eq .Site.Language.Lang "en" }}
  			  There are <em>likes</em> and then there are 👏 <em>kudos</em>. This word, from the Greek κῦδος, means <em>fame</em>, <em>glory</em> or <em>prestige</em>. By giving me kudos you are acknowledging and praising my effort, encouraging me to continue preparing quality materials.<br>			  
		{{ end }}				  
	  </p>
</div>

<div class="share-box" aria-hidden="true">
	<center>
		<h2 style="color: #555;">
			{{ if eq .Site.Language.Lang "es" }}
			Compártelo
			{{ else if eq .Site.Language.Lang "en" }}
			Share it
			{{ end }}
		</h2>
	</center>	
  <ul class="share">
	  <script src="https://apis.google.com/js/platform.js" async defer></script>
	  <li><g:sharetoclassroom url="{{ $.Permalink }}" size="30" theme="dark"></g:sharetoclassroom></li>
    {{ range where site.Data.page_sharer.buttons "enable" true }}
      {{ $pack := or .icon_pack "fas" }}
      {{ $pack_prefix := $pack }}
      {{ if in (slice "fab" "fas" "far" "fal") $pack }}
        {{ $pack_prefix = "fa" }}
      {{ end }}
      {{ $link := replace .url "{url}" ($.Permalink | htmlEscape) }}
      {{ $link = replace $link "{title}" ($.Title | htmlEscape) }}
      <li>
        <a href="{{$link|safeURL}}" target="_blank" rel="noopener" class="share-btn-{{.id}}">
          <i class="{{$pack}} {{$pack_prefix}}-{{.icon}}"></i>
        </a>
      </li>
    {{ end }}
  </ul>  	  
</div>

<div class="subscribe-box" aria-hidden="true">
	<center>
		<h2 style="color: #555;">
			{{ if eq .Site.Language.Lang "es" }}
			Suscríbete
			{{ else if eq .Site.Language.Lang "en" }}
			Subscribe
			{{ end }}
		</h2>
	</center>
	<ul class=subscribe>
		<li>
	        <a href="https://t.me/fisiquimicamente" target="_blank" rel="noopener">
				<i class="fab fa-telegram"></i>
			</a>
		</li>
		<li>
	        <a href="{{ $.Parent.Permalink }}index.xml" target="_blank" rel="noopener">
				<i class="fas fa-rss"></i>
			</a>
		</li>
	</ul>
	  <p class="kudos">
	  {{ if eq .Site.Language.Lang "es" }}
		  Si no quieres perderte ninguna actualización considera suscribirte al canal de Telegram <i class="fab fa-telegram ml-1 mr-1"></i> o RSS <i class="fas fa-rss ml-1 mr-1"></i>.
	  {{ else if eq .Site.Language.Lang "en" }}
		If you don't want to miss any updates consider subscribing to the RSS channel <i class="fas fa-rss ml-1"></i>.
	{{ end }}				  
  </p>
</div>

{{ end }}
