<div class="article-tags">
  {{ if .Param "categories" }}
  <span style="color: #B0332A;">  
	  <i class="fas fa-folder mr-1"></i>
  </span>  
  {{ range $index, $value := (.GetTerms "categories") }}
  <a class="badge badge-light" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
  {{ end }}
  {{ end }}
  {{ if .Param "tags" }}
  <span style="color: #B0332A;">
	  <i class="fas fa-tags mr-1"></i>
  </span>
  {{ range $index, $value := (.GetTerms "tags") }}
  <a class="badge badge-light" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
  {{ end }}
  {{ end }}
</div>

<span class="likebtn-wrapper" data-theme="custom" data-f_size="19" data-icon_size="22" data-icon_l="hrt1" data-icon_l_c="#111111" data-icon_l_c_v="#b0332a" data-label_c="#1965b0" data-label_c_v="#b0332a" data-counter_l_c="#111111" data-bg_c="#fffff8" data-bg_c_v="#fffff8" data-brdr_c="#fffff8" data-f_family="Courier New" data-lang="es" data-i18n_like="Kudos" data-ef_voting="heartbeat" data-rich_snippet="true" data-show_like_label="false" data-dislike_enabled="false" data-popup_style="dark" data-item_url="{url}" data-item_title="{title}"></span>