{{ $taxonomy := "categories" }}
{{ if $page.Param $taxonomy }}
<span class="middot-divider"></span>
<span class="article-categories">
<i class="fas fa-folder mr-1"></i>
{{- range $index, $value := ($page.GetTerms $taxonomy) -}}
  {{- if gt $index 0 }}, {{ end -}}
  <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
{{- end -}}
</span>
{{ end }}

{{ $taxonomy := "tags" }}
{{ if .Param $taxonomy }}
<span class="middot-divider"></span>
<div class="article-tags">
  {{ range $index, $value := (.GetTerms $taxonomy) }}
  <a class="badge badge-light" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
  {{ end }}
</div>
{{ end }}
