<div class="article-tags">
  {{ if .Param "categories" }}
  <span style="color: #b50000;">  
	  <i class="fas fa-folder mr-1"></i>
  </span>  
  {{ range $index, $value := (.GetTerms "categories") }}
  <a class="badge badge-light" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
  {{ end }}
  {{ end }}
  {{ if .Param "tags" }}
  <span style="color: #b50000;">
	  <i class="fas fa-tags mr-1"></i>
  </span>
  {{ range $index, $value := (.GetTerms "tags") }}
  <a class="badge badge-light" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
  {{ end }}
  {{ end }}
</div>