{{- define "main" -}}

<div class="container pt-3">

<div class="row">
  <div class="col-12 col-md-6">

  <h1>{{ i18n "page_not_found" }}</h1>  

  {{/* Show search box if built-in search engine is enabled. */}}
  {{ if in (slice "wowchemy" "algolia") (lower site.Params.search.provider) }}
  <form class="d-flex align-items-center mb-3">
    <input name="q" type="search" class="form-control" placeholder="{{ i18n "search_placeholder" }}" autocomplete="off">
  </form>
  {{ end }}

  {{/* Suggest recently published pages to the user. */}}

  <p>{{ i18n "404_recommendations" }}</p>

  {{ $query := where (where (where (where site.Pages.ByDate.Reverse "Title" "!=" "") "Kind" "in" (slice "page" "section")) "Params.private" "!=" true) "Permalink" "!=" "" }}
  {{ $count := len $query }}
  {{ if gt $count 0 }}
  <h2>{{ i18n "user_profile_latest" }}</h2>
  <ul>
    {{ range first 10 $query }}
	  {{ $link := .RelPermalink }}
	  {{ $target := "" }}
	  {{ with .Params.external_link }}
	    {{ $link = . }}
	    {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
	  {{ end }}
      <li><a href="{{$link}}" {{ $target | safeHTMLAttr }}>{{ .Title }}</a></li>
    {{ end }}
  </ul>
  {{ end }}

  </div>

  <div class="col-12 mx-auto col-md-6 hero-media">

    {{- $404_tgs := resources.Get ("media/lottie/404.tgs") -}}    
    <tgs-player autoplay loop mode="normal" src="{{ $404_tgs.RelPermalink }}" style="width: 100%; height:auto"></tgs-player>
  </div>

</div>  

{{- end -}}