<div align="center" class="comments-box">
  {{ if eq .Site.Language.Lang "es" }}
    <h3>Comentarios</h3>
  {{ else if eq .Site.Language.Lang "en" }}
    <h3>Comments</h3>
  {{ else if eq .Site.Language.Lang "ca" }}
    <h3>Comentaris</h3>    
  {{ end }}
</div>  
<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="{{site.Params.comments.cusdis.data_app_id}}"
  data-page-id="{{ print .File.UniqueID .Site.Language.Lang }}"
  data-page-url="{{ .Permalink }}"
  data-page-title="{{ .Title }}"
></div>
{{ if eq .Site.Language.Lang "es" }}
    <script defer src="https://cusdis.com/js/widget/lang/es.js"></script>
{{ end }}
{{ if eq .Site.Language.Lang "ca" }}
    <script defer src="https://cusdis.com/js/widget/lang/ca.js"></script>
{{ end }}
<script defer src="https://cusdis.com/js/cusdis.es.js"></script>