<div align="center" class="comments-box">  
  <h3>Discord</h3>  
</div>
<widgetbot
  server="755936234387275888"
  channel="756101175081828422"
  width="100%"
  height="600"
></widgetbot>
<script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed"></script>

{{ if eq .Site.Language.Lang "es" }}
  <p class="kudos">
    <strong>Participa</strong> activamente en la web comentando, dando tu opinión, realizando peticiones, sugerencias...
  </p>
{{ else if eq .Site.Language.Lang "en" }}
  <p class="kudos">
    Actively <strong>participate</strong> in the website by commenting, giving your opinion, making requests, suggestions...
  </p>
{{ else if eq .Site.Language.Lang "ca" }}
  <p class="kudos">
    <strong>Participa</strong> activament a la web comentant, donant la teva opinió, realitzant peticions, suggeriments...
  </p>
{{ end }}