{{ if eq site.Language.Lang "es" }}
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "9c3eaa08540541e7a293fdf975bad60d"}'></script><!-- End Cloudflare Web Analytics -->
{{ else if eq site.Language.Lang "en" }}
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "bbcd7a08e333447a98b288d1b3be1171"}'></script><!-- End Cloudflare Web Analytics -->
{{ else if eq site.Language.Lang "ca" }}
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "96017482847642c0bc06e3cf0e01ff59"}'></script><!-- End Cloudflare Web Analytics -->
{{ end }}